n8n/Generate FOCUS Reversed Movie.json
{
  "name": "Generate FOCUS Reversed Movie",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -768
      ],
      "id": "gmr0-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gmr0-p001",
              "name": "DeckJsonPath",
              "value": "D:/data/cards/Standard/Deck.json",
              "type": "string"
            },
            {
              "id": "gmr0-p002",
              "name": "TestCardFilter",
              "value": "",
              "type": "string"
            },
            {
              "id": "gmr0-p003",
              "name": "FrameDuration",
              "value": "0.333",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        -768
      ],
      "id": "gmr0-0002-4000-8000-000000000002",
      "name": "Set Global Parameters"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.DeckJsonPath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -832,
        -768
      ],
      "id": "gmr0-0003-4000-8000-000000000003",
      "name": "Read Deck.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -608,
        -768
      ],
      "id": "gmr0-0004-4000-8000-000000000004",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst { execFileSync } = require('child_process');\n\n// ── Parameters ──────────────────────────────────────────────────\nconst params = $('Set Global Parameters').first().json;\nconst testCardFilter = (params.TestCardFilter || '').trim();\nconst frameDuration = parseFloat(params.FrameDuration || '0.333');\n\nconst raw = $input.first().json;\nconst deck = raw.data !== undefined ? raw.data : raw;\n\nconst deckDir = ((deck.Assets && deck.Assets.Directory)\n  ? deck.Assets.Directory\n  : 'D:/data/cards/Standard').replace(/\\\\+/g, '/').replace(/\\//g, path.sep);\n\nconst cardRefs = deck.Cards;\nif (!cardRefs || cardRefs.length === 0) {\n  throw new Error('[Movie] No Cards found in Deck.json.');\n}\n\nconst filteredCards = testCardFilter\n  ? cardRefs.filter(c => c.Card === testCardFilter)\n  : cardRefs;\n\nif (filteredCards.length === 0) {\n  throw new Error(\n    '[Movie] No cards matched filter: ' + JSON.stringify(testCardFilter) +\n    '. Check that TestCardFilter matches a Card name in Deck.json.'\n  );\n}\n\nconst OUT_SIZE = 512;\nconst results = { processed: 0, skipped: 0, failed: 0, cards: [] };\n\nfor (const cardRef of filteredCards) {\n  const cardName = cardRef.Card;\n  const cardFilePath = path.join(deckDir, cardRef.File.replace(/\\//g, path.sep));\n\n  // Read card JSON\n  let cardRaw;\n  try {\n    cardRaw = JSON.parse(fs.readFileSync(cardFilePath, 'utf8').replace(/^\\uFEFF/, ''));\n  } catch (e) {\n    console.warn('[Movie] Cannot read card: ' + cardName + ': ' + e.message);\n    results.failed++;\n    results.cards.push({ card: cardName, status: 'failed', reason: 'Cannot read card file: ' + e.message });\n    continue;\n  }\n\n  const card = cardRaw['data.Cards'] || cardRaw;\n  const cardDir = (card.Directory || path.join(deckDir, 'Cards'))\n    .replace(/\\\\+/g, '/').replace(/\\//g, path.sep);\n\n  // Get ReversedImage from top-level Assets\n  const reversedImageName = card.Assets && card.Assets.ReversedImage;\n  if (!reversedImageName) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No Assets.ReversedImage' });\n    continue;\n  }\n\n  // Find reversed record\n  const reversedRecord = (card.records || []).find(r => r.Orientation === 'reversed');\n  if (!reversedRecord) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No reversed record' });\n    continue;\n  }\n\n  const cardImageName = reversedRecord.Assets && reversedRecord.Assets.CardImage;\n  const movieName = reversedRecord.Assets && reversedRecord.Assets.Movie;\n\n  if (!cardImageName) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No CardImage in reversed record' });\n    continue;\n  }\n  if (!movieName) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No Movie in reversed record' });\n    continue;\n  }\n\n  // Build slug: spaces → underscores, parentheses removed\n  const slug = cardName.replace(/[()]/g, '').replace(/\\s+/g, '_');\n\n  // Build ordered frame list:\n  //   1. ReversedImage (needs resize to 512x512)\n  //   2. FOCUST_REVERSED_XXX_00 through _05\n  //   3. CardImage\n  //   4. FOCUS_REVERSED_XXX_07 through _14\n  const frameEntries = [];\n  const missing = [];\n\n  // Frame 1: ReversedImage\n  const reversedImagePath = path.join(cardDir, reversedImageName);\n  if (fs.existsSync(reversedImagePath)) {\n    frameEntries.push({ path: reversedImagePath, resize: true });\n  } else {\n    missing.push(reversedImageName);\n  }\n\n  // Frames 2-7: FOCUST_REVERSED_XXX_00 through _05\n  for (let i = 0; i <= 5; i++) {\n    const fn = 'FOCUST_REVERSED_' + slug + '_' + String(i).padStart(2, '0') + '.png';\n    const fp = path.join(cardDir, fn);\n    if (fs.existsSync(fp)) {\n      frameEntries.push({ path: fp, resize: false });\n    } else {\n      missing.push(fn);\n    }\n  }\n\n  // Frame 8: CardImage\n  const cardImagePath = path.join(cardDir, cardImageName);\n  if (fs.existsSync(cardImagePath)) {\n    frameEntries.push({ path: cardImagePath, resize: false });\n  } else {\n    missing.push(cardImageName);\n  }\n\n  // Frames 9-16: FOCUS_REVERSED_XXX_07 through _14\n  for (let i = 7; i <= 14; i++) {\n    const fn = 'FOCUS_REVERSED_' + slug + '_' + String(i).padStart(2, '0') + '.png';\n    const fp = path.join(cardDir, fn);\n    if (fs.existsSync(fp)) {\n      frameEntries.push({ path: fp, resize: false });\n    } else {\n      missing.push(fn);\n    }\n  }\n\n  if (missing.length > 0) {\n    results.skipped++;\n    results.cards.push({\n      card: cardName,\n      status: 'skipped',\n      reason: 'Missing ' + missing.length + ' frame(s): ' + missing.join(', ')\n    });\n    continue;\n  }\n\n  // Check if movie already exists\n  const moviePath = path.join(cardDir, movieName);\n  if (fs.existsSync(moviePath)) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'Movie already exists: ' + movieName });\n    continue;\n  }\n\n  // Create temp directory for intermediate files\n  const tempDir = path.join(cardDir, '_temp_movie_reversed');\n  fs.mkdirSync(tempDir, { recursive: true });\n\n  try {\n    const concatLines = [];\n\n    for (let f = 0; f < frameEntries.length; f++) {\n      let framePath = frameEntries[f].path;\n\n      if (frameEntries[f].resize) {\n        // Resize ReversedImage to OUT_SIZE x OUT_SIZE\n        const tempPath = path.join(tempDir, 'resized_' + f + '.png');\n        execFileSync('ffmpeg', [\n          '-y', '-i', framePath,\n          '-vf', 'scale=' + OUT_SIZE + ':' + OUT_SIZE,\n          tempPath\n        ], { encoding: 'utf8', stdio: 'pipe' });\n        framePath = tempPath;\n      }\n\n      concatLines.push(\"file '\" + framePath.replace(/\\\\/g, '/') + \"'\");\n      concatLines.push('duration ' + frameDuration.toFixed(3));\n    }\n\n    // Write concat list file\n    const concatPath = path.join(tempDir, 'concat.txt');\n    fs.writeFileSync(concatPath, concatLines.join('\\n'), 'utf8');\n\n    // Generate movie with ffmpeg\n    fs.mkdirSync(path.dirname(moviePath), { recursive: true });\n    execFileSync('ffmpeg', [\n      '-y',\n      '-f', 'concat',\n      '-safe', '0',\n      '-i', concatPath,\n      '-vf', 'format=yuv420p',\n      '-c:v', 'mpeg2video',\n      '-b:v', '5M',\n      moviePath\n    ], { encoding: 'utf8', stdio: 'pipe' });\n\n    // Clean up temp directory\n    const tempFiles = fs.readdirSync(tempDir);\n    for (const tf of tempFiles) {\n      fs.unlinkSync(path.join(tempDir, tf));\n    }\n    fs.rmdirSync(tempDir);\n\n    results.processed++;\n    results.cards.push({\n      card: cardName,\n      status: 'generated',\n      movie: movieName,\n      moviePath: moviePath,\n      totalFrames: frameEntries.length,\n      frameDuration: frameDuration\n    });\n\n  } catch (e) {\n    // Clean up temp directory on failure\n    try {\n      const tempFiles = fs.readdirSync(tempDir);\n      for (const tf of tempFiles) fs.unlinkSync(path.join(tempDir, tf));\n      fs.rmdirSync(tempDir);\n    } catch (ignore) {}\n\n    results.failed++;\n    results.cards.push({\n      card: cardName,\n      status: 'failed',\n      reason: 'ffmpeg error: ' + (e.stderr || e.message)\n    });\n  }\n}\n\nif (results.processed === 0 && results.failed === 0 && results.skipped === 0) {\n  throw new Error(\n    '[Movie] No cards processed. Check TestCardFilter and Deck.json Cards array.'\n  );\n}\n\nreturn [{ json: results }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -768
      ],
      "id": "gmr0-0005-4000-8000-000000000005",
      "name": "Generate FOCUS Reversed Movies"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gmr0-r001",
              "name": "Summary",
              "value": "={{ 'Generated: ' + $json.processed + '  |  Skipped: ' + $json.skipped + '  |  Failed: ' + $json.failed }}",
              "type": "string"
            },
            {
              "id": "gmr0-r002",
              "name": "Cards",
              "value": "={{ $json.cards }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -768
      ],
      "id": "gmr0-0006-4000-8000-000000000006",
      "name": "Report Results"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Global Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Parameters": {
      "main": [
        [
          {
            "node": "Read Deck.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Deck.json": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Generate FOCUS Reversed Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate FOCUS Reversed Movies": {
      "main": [
        [
          {
            "node": "Report Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "d7f41a3bc4c9824ed68d95186cb055000c790e15bf2666fbda9ebc1cffc1c54a"
  },
  "tags": [
    {
      "name": "Tarot"
    },
    {
      "name": "Video"
    }
  ]
}