n8n/Generate Card Faces.json
{
  "name": "Generate Card Faces",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1560,
        0
      ],
      "id": "gcf0001-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gcf0002-0001",
              "name": "DeckJsonPath",
              "value": "D:/data/cards/Standard/Deck.json",
              "type": "string"
            },
            {
              "id": "gcf0002-0002",
              "name": "PythonExe",
              "value": "D:/ComfyUI_windows_portable/python_embeded/python.exe",
              "type": "string"
            },
            {
              "id": "gcf0002-0003",
              "name": "TempDir",
              "value": "D:/data/temp/card_faces",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1320,
        0
      ],
      "id": "gcf0001-0002-4000-8000-000000000002",
      "name": "Set Global Parameters"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.DeckJsonPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1080,
        0
      ],
      "id": "gcf0001-0003-4000-8000-000000000003",
      "name": "Read Deck.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -840,
        0
      ],
      "id": "gcf0001-0004-4000-8000-000000000004",
      "name": "Parse Deck.json"
    },
    {
      "parameters": {
        "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst params  = $('Set Global Parameters').first().json;\nconst deckRaw = $input.first().json;\nconst deck    = deckRaw.data || deckRaw;\n\nconst deckDir = deck.Assets.Directory.replace(/\\\\/g, '/');\nconst geom    = deck.Geometries;\n\nconst jobs = [];\nlet skipped = 0;\n\nfor (const cardRef of deck.Cards || []) {\n  const cardJsonPath = path.resolve(deckDir, cardRef.File).replace(/\\\\/g, '/');\n  if (!cardJsonPath.startsWith(path.resolve(deckDir).replace(/\\\\/g, '/'))) throw new Error('Path traversal detected: ' + cardRef.File);\n  if (!fs.existsSync(cardJsonPath)) {\n    console.warn('[Build Card Face Job List] Missing card JSON: ' + cardJsonPath);\n    continue;\n  }\n\n  const cardData = JSON.parse(fs.readFileSync(cardJsonPath, 'utf8'));\n  const meta     = cardData['data.Cards'];\n  if (!meta) continue;\n\n  const cardName    = meta.Card;\n  const cardDir     = ((meta.Directory) || path.join(deckDir, 'Cards')).replace(/\\\\/g, '/');\n  const uprightImage = meta.Assets && meta.Assets.UprightImage;\n\n  if (!uprightImage) {\n    console.warn('[Build Card Face Job List] No UprightImage for: ' + cardName);\n    continue;\n  }\n\n  const outputPath = cardDir + '/' + uprightImage;\n\n  if (fs.existsSync(outputPath)) {\n    console.warn('[Build Card Face Job List] Skipping existing: ' + uprightImage);\n    skipped++;\n    continue;\n  }\n\n  const panels = ['upright', 'between', 'reversed'].map(function(ori) {\n    const rec = (meta.records || []).find(function(r) { return r.Orientation === ori; });\n    return {\n      label:       ori.charAt(0).toUpperCase() + ori.slice(1),\n      description: (rec && rec.Description) || '',\n      advice:      (rec && rec.Advice)      || ''\n    };\n  });\n\n  jobs.push({\n    CardName:    cardName,\n    OutputPath:  outputPath,\n    Panels:      panels,\n    CardWidth:   (geom.Size   && geom.Size.Width)   || 680,\n    CardHeight:  (geom.Size   && geom.Size.Height)  || 1100,\n    TitleHeight: (geom.Title  && geom.Title.Height) || 18,\n    BodyWidth:   (geom.Body   && geom.Body.Width)   || 660,\n    PanelHeight: (geom.Images && geom.Images.Height)|| 300,\n    TitleFont:   (geom.Title  && geom.Title.Font)   || 'pala.ttf',\n    BodyFont:    (geom.Body   && geom.Body.Font)    || 'constan.ttf',\n    ImageWidth:  (geom.Images && geom.Images.Width) || 300,\n    TextWidth:   (geom.Text   && geom.Text.Width)   || 320,\n    CardDir:     cardDir,\n    CardNameFS:  cardName.replace(/ /g, '_'),\n    PythonExe:   params.PythonExe,\n    TempDir:     params.TempDir\n  });\n}\n\nif (jobs.length === 0 && skipped === 0) {\n  throw new Error(\n    '[Build Card Face Job List] No jobs created. ' +\n    'Check that deck.Cards is populated and card JSON files exist in ' + deckDir\n  );\n}\n\nif (jobs.length === 0) {\n  throw new Error(\n    '[Build Card Face Job List] All ' + skipped + ' card faces already exist. ' +\n    'Delete CARD_*.png files from the Cards directory to regenerate.'\n  );\n}\n\nconsole.log('[Build Card Face Job List] Created ' + jobs.length + ' jobs (' + skipped + ' already exist, skipped).');\nreturn jobs.map(function(j) { return { json: j }; });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "id": "gcf0001-0005-4000-8000-000000000005",
      "name": "Build Card Face Job List"
    },
    {
      "parameters": {
        "jsCode": "const fs             = require('fs');\nconst path           = require('path');\nconst { execFileSync } = require('child_process');\n\nconst allJobs = $input.all().map(function(i) { return i.json; });\nconst results = [];\nconst errors  = [];\n\nif (allJobs.length === 0) {\n  throw new Error('[Generate Card Faces] No jobs received.');\n}\n\nconst tempDir = allJobs[0].TempDir;\nfs.mkdirSync(tempDir, { recursive: true });\n\n// Python PIL rendering script (written once, reused for every card)\nconst pyScript = `import sys, json, os\nfrom PIL import Image, ImageDraw, ImageFont\n\nFONT_DIR = 'C:/Windows/Fonts'\n\ndef resolve_font(name, size):\n    fp = FONT_DIR + '/' + name\n    if os.path.exists(fp):\n        return ImageFont.truetype(fp, size)\n    import sys as _sys\n    print('Warning: font not found ' + fp, file=_sys.stderr)\n    return ImageFont.load_default()\n\ndef wrap_text(draw, text, font, max_w):\n    words = text.split()\n    lines = []\n    cur = ''\n    for w in words:\n        t = (cur + ' ' + w).strip()\n        try:\n            px = draw.textlength(t, font=font)\n        except Exception:\n            px = len(t) * 7\n        if px <= max_w:\n            cur = t\n        else:\n            if cur:\n                lines.append(cur)\n            cur = w\n    if cur:\n        lines.append(cur)\n    return lines\n\ndef draw_block(draw, text, font, x, y, max_w, bot, color, lh):\n    for line in wrap_text(draw, text, font, max_w):\n        if y + lh > bot:\n            draw.text((x, y), '...', font=font, fill=color)\n            break\n        draw.text((x, y), line, font=font, fill=color)\n        y += lh\n    return y\n\nd            = json.load(open(sys.argv[1], encoding='utf-8'))\ncard_name    = d['CardName']\ncard_name_fs = d['CardNameFS']\ncard_dir     = d['CardDir']\nout_path     = d['OutputPath']\npanels       = d['Panels']\ncw           = d['CardWidth']\nch           = d['CardHeight']\nth           = d['TitleHeight']\nbw           = d['BodyWidth']\nph           = d['PanelHeight']\niw           = d['ImageWidth']\ntw_area      = d['TextWidth']\ntitle_ff     = d['TitleFont']\nbody_ff      = d['BodyFont']\n\nBG    = (244, 237, 211)\nTBG   = ( 44,  24,  16)\nTFG   = (244, 237, 211)\nPA    = (237, 229, 200)\nPB    = (244, 237, 211)\nTC    = ( 30,  18,   8)\nLC    = (139, 105,  20)\nAC    = ( 60,  36,  16)\nDC    = (139, 105,  20)\nPH_BG = (210, 190, 150)\n\nbfs = 13\nlfs = 12\nlh  = 18\npad = 8\nsm  = (cw - bw) // 2\ngap_img = bw - tw_area - iw\nix      = sm + tw_area + gap_img\ntw      = tw_area - 2 * pad\n\ntf = resolve_font(title_ff, th - 2)\nlf = resolve_font(title_ff, lfs)\nbf = resolve_font(body_ff,  bfs)\n\ntotal_body = ch - 2 * th\ngap_panel  = (total_body - 3 * ph) // 4\npys = [th + gap_panel + i * (ph + gap_panel) for i in range(3)]\n\nimg  = Image.new('RGB', (cw, ch), BG)\ndraw = ImageDraw.Draw(img)\n\ndraw.rectangle([0, 0, cw, th], fill=TBG)\nbb = draw.textbbox((0, 0), card_name, font=tf)\ndraw.text(((cw - bb[2] + bb[0]) // 2, (th - bb[3] + bb[1]) // 2), card_name, font=tf, fill=TFG)\n\norientations = ['upright', 'between', 'reversed']\nfor i, (p, py) in enumerate(zip(panels, pys)):\n    pbg = PA if i % 2 == 0 else PB\n    draw.rectangle([sm, py, sm + bw, py + ph], fill=pbg)\n    draw.line([sm, py,          sm + bw, py],          fill=DC, width=1)\n    draw.line([sm, py + ph - 1, sm + bw, py + ph - 1], fill=DC, width=1)\n\n    # Text area (left side)\n    tx  = sm + pad\n    ty  = py + pad\n    bot = py + ph - pad\n    draw.text((tx, ty), p['label'], font=lf, fill=LC)\n    ty += lfs + 4\n    ty = draw_block(draw, p['description'], bf, tx, ty, tw, bot, TC, lh)\n    ty += 4\n    if p['advice'] and ty + lh <= bot:\n        draw_block(draw, 'Advice: ' + p['advice'], bf, tx, ty, tw, bot, AC, lh)\n\n    # Image area (right side)\n    ori_lower = orientations[i]\n    art_path  = card_dir + '/CARDIMG_' + card_name_fs + '_' + ori_lower + '.png'\n    if os.path.exists(art_path):\n        art = Image.open(art_path).convert('RGB')\n        art = art.resize((iw, ph), Image.LANCZOS)\n        img.paste(art, (ix, py))\n    else:\n        draw.rectangle([ix, py, ix + iw, py + ph], fill=PH_BG)\n        lb  = draw.textbbox((0, 0), p['label'], font=lf)\n        lx  = ix + (iw - (lb[2] - lb[0])) // 2\n        ly  = py + (ph - (lb[3] - lb[1])) // 2\n        draw.text((lx, ly), p['label'], font=lf, fill=LC)\n\n    # Vertical divider between text and image columns\n    div_x = sm + tw_area + gap_img // 2\n    draw.line([div_x, py + 4, div_x, py + ph - 4], fill=DC, width=1)\n\nbt  = Image.new('RGB', (cw, th), TBG)\nbd  = ImageDraw.Draw(bt)\nbb2 = bd.textbbox((0, 0), card_name, font=tf)\nbd.text(((cw - bb2[2] + bb2[0]) // 2, (th - bb2[3] + bb2[1]) // 2), card_name, font=tf, fill=TFG)\nimg.paste(bt.rotate(180), (0, ch - th))\n\nos.makedirs(os.path.dirname(out_path), exist_ok=True)\nimg.save(out_path)\nprint('OK ' + os.path.basename(out_path))\n`;\n\nconst scriptPath = path.join(tempDir, 'render_card_face.py').replace(/\\\\/g, '/');\nfs.writeFileSync(scriptPath, pyScript, 'utf8');\n\nfor (const job of allJobs) {\n  const dataPath = path.join(tempDir, 'cf_' + job.CardName.replace(/[^a-zA-Z0-9]/g, '_') + '.json').replace(/\\\\/g, '/');\n  fs.writeFileSync(dataPath, JSON.stringify(job), 'utf8');\n\n  try {\n    const out = execFileSync(\n      job.PythonExe,\n      [scriptPath, dataPath],\n      { encoding: 'utf8', timeout: 30000 }\n    );\n    console.log('[Card Faces] ' + out.trim());\n    results.push({ CardName: job.CardName, OutputPath: job.OutputPath, Status: 'OK' });\n  } catch (e) {\n    const errMsg = ((e.stderr || '') + (e.message || '')).slice(0, 400);\n    console.warn('[Card Faces] Error for ' + job.CardName + ': ' + errMsg);\n    errors.push({ CardName: job.CardName, OutputPath: job.OutputPath, Status: 'Error', error: errMsg });\n  }\n\n  try { fs.unlinkSync(dataPath); } catch (_) {}\n}\n\ntry { fs.unlinkSync(scriptPath); } catch (_) {}\ntry { fs.rmdirSync(tempDir);     } catch (_) {}\n\nif (results.length === 0) {\n  throw new Error(\n    '[Generate Card Faces] All ' + errors.length + ' jobs failed. First error: ' +\n    (errors[0] && errors[0].error)\n  );\n}\n\nif (errors.length > 0) {\n  console.warn('[Generate Card Faces] Completed with ' + errors.length + ' errors (' + results.length + ' succeeded).');\n}\n\nreturn [...results, ...errors].map(function(r) { return { json: r }; });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ],
      "id": "gcf0001-0006-4000-8000-000000000006",
      "name": "Generate All Card Faces"
    },
    {
      "parameters": {
        "jsCode": "const all    = $input.all().map(function(i) { return i.json; });\nconst ok     = all.filter(function(j) { return j.Status === 'OK'; });\nconst failed = all.filter(function(j) { return j.Status === 'Error'; });\n\nconsole.log('[Report] Card faces: ' + ok.length + ' succeeded, ' + failed.length + ' failed of ' + all.length + ' total.');\n\nif (failed.length > 0) {\n  console.warn('[Report] Failed cards:');\n  failed.forEach(function(f) {\n    console.warn('  ' + f.CardName + ': ' + f.error);\n  });\n}\n\nreturn [{\n  json: {\n    succeeded:   ok.length,\n    failed:      failed.length,\n    total:       all.length,\n    failedCards: failed.map(function(f) { return { card: f.CardName, error: f.error }; })\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        0
      ],
      "id": "gcf0001-0007-4000-8000-000000000007",
      "name": "Report Results"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Global Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Parameters": {
      "main": [
        [
          {
            "node": "Read Deck.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Deck.json": {
      "main": [
        [
          {
            "node": "Parse Deck.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Deck.json": {
      "main": [
        [
          {
            "node": "Build Card Face Job List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Card Face Job List": {
      "main": [
        [
          {
            "node": "Generate All Card Faces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate All Card Faces": {
      "main": [
        [
          {
            "node": "Report Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-27T00:00:00.000Z",
  "versionId": "gcf0001-ver1"
}