n8n/Generate Card Narrations.json
{
  "name": "Generate Card Narrations",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1560, 0],
      "id": "nar0001-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nar0002-0001-4000-8000-000000000001",
              "name": "DeckJsonPath",
              "value": "D:/data/cards/Standard/Deck.json",
              "type": "string"
            },
            {
              "id": "nar0002-0002-4000-8000-000000000002",
              "name": "ComfyUIAPI",
              "value": "http://127.0.0.1:8188",
              "type": "string"
            },
            {
              "id": "nar0002-0003-4000-8000-000000000003",
              "name": "ComfyUIOutputDir",
              "value": "D:/ComfyUI_windows_portable/ComfyUI/output",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1320, 0],
      "id": "nar0001-0002-4000-8000-000000000002",
      "name": "Set Global Parameters"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.DeckJsonPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [-1080, 0],
      "id": "nar0001-0003-4000-8000-000000000003",
      "name": "Read Deck.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-840, 0],
      "id": "nar0001-0004-4000-8000-000000000004",
      "name": "Parse Deck.json"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst params = $('Set Global Parameters').first().json;\nconst deckRaw = $input.first().json;\nconst deck = deckRaw.data || deckRaw;\n\nconst narConfig = deck.Prompts?.Narration || {};\nconst voiceMap = narConfig.VoiceMap || {};\nconst elementMap = narConfig.ElementMap || {};\nconst defaultVoice = narConfig.DefaultVoice || 'tara';\nconst defaultElement = narConfig.DefaultElement || 'none';\n\nconst narSamplers = deck.Samplers?.Narration || {};\nconst narModels = deck.Models || {};\n\nconst deckDir = deck.Assets.Directory;\nconst narrationDir = deck.Assets.NarrationDirectory || path.join(deckDir, 'Narration');\n\nif (!fs.existsSync(deckDir)) {\n  throw new Error(\n    '[Build Narration Job List] Deck directory not found: ' + deckDir +\n    '\\nCheck that deck.Assets.Directory is correct in Deck.json'\n  );\n}\n\nfs.mkdirSync(narrationDir, { recursive: true });\n\nconst jobs = [];\nlet skipped = 0;\n\nfor (const cardRef of deck.Cards || []) {\n  const cardJsonPath = path.join(deckDir, cardRef.File);\n\n  if (!fs.existsSync(cardJsonPath)) {\n    console.warn('[Build Narration Job List] Missing card JSON: ' + cardJsonPath);\n    continue;\n  }\n\n  const cardData = JSON.parse(fs.readFileSync(cardJsonPath, 'utf8'));\n  const cardMeta = cardData['data.Cards'];\n  if (!cardMeta) continue;\n\n  const cardName = cardMeta.Card;\n\n  for (const record of cardMeta.records || []) {\n    const orientation = record.Orientation;\n    const narAsset = record.Assets?.Narration;\n    if (!narAsset) continue;\n\n    const outputPath = path.join(narrationDir, narAsset);\n\n    // Insertable audio: skip if file already exists\n    if (fs.existsSync(outputPath)) {\n      console.warn('[Build Narration Job List] Skipping existing: ' + narAsset);\n      skipped++;\n      continue;\n    }\n\n    const narPrompts = record.Prompts?.Narration || {};\n\n    // Map voice descriptor to Orpheus voice name\n    const voiceDescriptor = narPrompts.Voice || '';\n    const orpheusVoice = voiceMap[voiceDescriptor] || defaultVoice;\n\n    // Map tone to Orpheus emotional element\n    const toneDescriptor = narPrompts.Tone || '';\n    const orpheusElement = elementMap[toneDescriptor] || defaultElement;\n\n    // Assemble narration script from structured card fields\n    const scriptParts = [\n      `${cardName}, ${orientation} position.`,\n      record.Description || '',\n      record.Advice ? `Advice: ${record.Advice}` : null,\n      record.Affirmation ? record.Affirmation.replace(/\\n/g, ' ') : null\n    ].filter(Boolean);\n\n    const script = scriptParts.join(' ').trim();\n\n    // ComfyUI output prefix (inside narration/ subfolder of output dir)\n    const outputPrefix = 'narration/' + path.basename(narAsset, '.mp3');\n\n    jobs.push({\n      CardName: cardName,\n      CardFile: cardRef.File,\n      Orientation: orientation,\n      Script: script,\n      OrpheusVoice: orpheusVoice,\n      OrpheusElement: orpheusElement,\n      ElementPosition: orpheusElement !== 'none' ? 'append' : 'none',\n      OutputPath: outputPath,\n      OutputPrefix: outputPrefix,\n      NarAsset: narAsset,\n      // Engine parameters from Deck.json\n      OrpheusModelPath: narModels.NarrationTTS || 'canopylabs/orpheus-3b-0.1-ft',\n      SnacModelPath: narModels.NarrationSNAC || 'hubertsiuzdak/snac_24khz',\n      Temperature: narSamplers.Temperature || 0.6,\n      TopP: narSamplers.TopP || 0.95,\n      RepetitionPenalty: narSamplers.RepetitionPenalty || 1.1,\n      MaxNewTokens: narSamplers.MaxNewTokens || 2700,\n      Quality: narSamplers.Quality || '128k',\n      // n8n parameters\n      ComfyUIAPI: params.ComfyUIAPI || 'http://127.0.0.1:8188',\n      ComfyUIOutputDir: params.ComfyUIOutputDir || 'D:/ComfyUI_windows_portable/ComfyUI/output'\n    });\n  }\n}\n\nif (jobs.length === 0 && skipped === 0) {\n  throw new Error(\n    '[Build Narration Job List] No jobs created.\\n' +\n    'Check: deck.Cards is populated, card JSON files exist, ' +\n    'and deck.Assets.NarrationDirectory is set in Deck.json.'\n  );\n}\n\nif (jobs.length === 0) {\n  throw new Error(\n    '[Build Narration Job List] All ' + skipped + ' narration files already exist. ' +\n    'Delete files from ' + narrationDir + ' to regenerate.'\n  );\n}\n\nconsole.log(`[Build Narration Job List] Created ${jobs.length} jobs (${skipped} already exist, skipped)`);\nreturn jobs.map(j => ({ json: j }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 0],
      "id": "nar0001-0005-4000-8000-000000000005",
      "name": "Build Narration Job List"
    },
    {
      "parameters": {
        "jsCode": "const axios = require('axios');\nconst fs = require('fs');\nconst path = require('path');\n\nconst allJobs = $input.all().map(item => item.json);\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\n\nconst results = [];\nconst errors = [];\n\nfor (const job of allJobs) {\n  const comfyAPI = job.ComfyUIAPI;\n  const comfyOutputDir = job.ComfyUIOutputDir;\n\n  const prompt = {\n    \"1\": {\n      \"class_type\": \"OrpheusModelLoader\",\n      \"inputs\": {\n        \"snac_model_path\": job.SnacModelPath,\n        \"orpheus_model_path\": job.OrpheusModelPath\n      }\n    },\n    \"2\": {\n      \"class_type\": \"OrpheusGenerate\",\n      \"inputs\": {\n        \"model\": [\"1\", 0],\n        \"text\": job.Script,\n        \"voice\": job.OrpheusVoice,\n        \"element\": job.OrpheusElement,\n        \"element_position\": job.ElementPosition,\n        \"temperature\": job.Temperature,\n        \"top_p\": job.TopP,\n        \"repetition_penalty\": job.RepetitionPenalty,\n        \"max_new_tokens\": job.MaxNewTokens\n      }\n    },\n    \"3\": {\n      \"class_type\": \"SaveAudioMP3\",\n      \"inputs\": {\n        \"audio\": [\"2\", 0],\n        \"filename_prefix\": job.OutputPrefix,\n        \"quality\": job.Quality\n      }\n    }\n  };\n\n  console.log(`[Narration] Generating: ${job.CardName} (${job.Orientation}) → ${job.NarAsset}`);\n\n  // Submit to ComfyUI\n  let promptId;\n  try {\n    const submitRes = await axios.post(comfyAPI + '/prompt', { prompt });\n    promptId = submitRes.data.prompt_id;\n  } catch (e) {\n    const msg = 'Submit failed: ' + (e.response?.data ? JSON.stringify(e.response.data) : e.message);\n    errors.push({ ...job, error: msg });\n    console.warn(`[Narration] ${msg}`);\n    continue;\n  }\n\n  // Poll until done (Orpheus 3B generates ~30-120s per card at 6GB VRAM)\n  // 240 attempts × 5s = 20 minutes max per card\n  let done = false;\n  let audioInfo = null;\n  let comfyError = null;\n\n  for (let attempt = 0; attempt < 240 && !done && !comfyError; attempt++) {\n    await sleep(5000);\n    try {\n      const historyRes = await axios.get(comfyAPI + '/history/' + promptId);\n      const entry = historyRes.data[promptId];\n      if (entry?.outputs?.['3']?.audio?.length > 0) {\n        audioInfo = entry.outputs['3'].audio[0];\n        done = true;\n      } else if (entry?.status?.status_str === 'error') {\n        // ComfyUI execution errored — find the message and bail immediately\n        const msgs = entry?.status?.messages || [];\n        const errMsg = msgs.find(m => m[0] === 'execution_error');\n        comfyError = errMsg ? errMsg[1].exception_message : 'ComfyUI execution error (no detail)';\n      } else if (entry?.status?.completed === true && !entry?.outputs?.['3']) {\n        // Completed but no audio output (node_errors or silent fail)\n        const nodeErrs = entry?.status?.messages?.filter(m => m[0] === 'execution_error') || [];\n        comfyError = nodeErrs.length ? nodeErrs[0][1].exception_message : 'Completed with no audio output';\n      }\n    } catch (e) {\n      // Transient poll error - keep retrying\n    }\n  }\n\n  if (comfyError) {\n    errors.push({ ...job, error: 'ComfyUI error: ' + comfyError.slice(0, 200) });\n    console.warn(`[Narration] ComfyUI error for ${job.CardName} ${job.Orientation}: ${comfyError.slice(0, 150)}`);\n    continue;\n  }\n\n  if (!done) {\n    errors.push({ ...job, error: 'Timeout after 20 minutes' });\n    console.warn(`[Narration] Timeout: ${job.CardName} ${job.Orientation}`);\n    continue;\n  }\n\n  // Copy from ComfyUI output/ to target narration directory\n  const subfolder = audioInfo.subfolder || '';\n  const srcPath = path.join(comfyOutputDir, subfolder, audioInfo.filename);\n\n  try {\n    fs.mkdirSync(path.dirname(job.OutputPath), { recursive: true });\n    fs.copyFileSync(srcPath, job.OutputPath);\n    console.log(`[Narration] ✓ Saved: ${job.NarAsset}`);\n    results.push({ ...job, SavedFilename: audioInfo.filename });\n  } catch (e) {\n    errors.push({ ...job, error: 'Copy failed: ' + e.message });\n    console.warn(`[Narration] Copy failed for ${job.NarAsset}: ${e.message}`);\n  }\n}\n\nif (results.length === 0 && errors.length > 0) {\n  throw new Error(`[Narration] All ${errors.length} jobs failed. First error: ${errors[0].error}`);\n}\n\nif (errors.length > 0) {\n  console.warn(`[Narration] Completed with ${errors.length} errors (${results.length} succeeded).`);\n}\n\nreturn [...results, ...errors].map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-360, 0],
      "id": "nar0001-0006-4000-8000-000000000006",
      "name": "Generate All Narrations"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json);\nconst succeeded = all.filter(j => !j.error);\nconst failed = all.filter(j => j.error);\n\nconsole.log(`[Report] Narration generation complete: ${succeeded.length} succeeded, ${failed.length} failed`);\n\nif (failed.length > 0) {\n  console.warn('[Report] Failed jobs:');\n  for (const f of failed) {\n    console.warn(`  ${f.CardName} (${f.Orientation}): ${f.error}`);\n  }\n}\n\nreturn [{\n  json: {\n    succeeded: succeeded.length,\n    failed: failed.length,\n    total: all.length,\n    failedJobs: failed.map(f => ({\n      card: f.CardName,\n      orientation: f.Orientation,\n      error: f.error\n    }))\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, 0],
      "id": "nar0001-0007-4000-8000-000000000007",
      "name": "Report Results"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{"node": "Set Global Parameters", "type": "main", "index": 0}]]
    },
    "Set Global Parameters": {
      "main": [[{"node": "Read Deck.json", "type": "main", "index": 0}]]
    },
    "Read Deck.json": {
      "main": [[{"node": "Parse Deck.json", "type": "main", "index": 0}]]
    },
    "Parse Deck.json": {
      "main": [[{"node": "Build Narration Job List", "type": "main", "index": 0}]]
    },
    "Build Narration Job List": {
      "main": [[{"node": "Generate All Narrations", "type": "main", "index": 0}]]
    },
    "Generate All Narrations": {
      "main": [[{"node": "Report Results", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-25T00:00:00.000Z",
  "versionId": "nar0001-ver1"
}
