n8n/Generate Card 3D Objects.json
{
  "name": "Generate Card 3D Objects",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        -768
      ],
      "id": "g3d0-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g3d0-p001",
              "name": "DeckJsonPath",
              "value": "D:/data/cards/Standard/Deck.json",
              "type": "string"
            },
            {
              "id": "g3d0-p002",
              "name": "TestCardFilter",
              "value": "",
              "type": "string"
            },
            {
              "id": "g3d0-p003",
              "name": "ComfyUIAPI",
              "value": "http://127.0.0.1:8188",
              "type": "string"
            },
            {
              "id": "g3d0-p004",
              "name": "Orientations",
              "value": "upright,reversed,between",
              "type": "string"
            },
            {
              "id": "g3d0-p006",
              "name": "SkipExisting",
              "value": "true",
              "type": "string"
            },
            {
              "id": "g3d0-p007",
              "name": "Hunyuan3DEnabled",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        -768
      ],
      "id": "g3d0-0002-4000-8000-000000000002",
      "name": "Set Global Parameters"
    },
    {
      "parameters": {
        "jsCode": "// Read and parse Deck.json using require('fs')\nconst fs = require('fs');\nconst deckPath = $('Set Global Parameters').first().json.DeckJsonPath;\nconst raw = fs.readFileSync(deckPath.replace(/\\//g, '\\\\'), 'utf8').replace(/^\\uFEFF/, '');\nconst data = JSON.parse(raw);\nreturn [{ json: { data } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        -768
      ],
      "id": "g3d0-0003-4000-8000-000000000003",
      "name": "Read & Parse Deck.json"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Build 3D Object Job List\n// ============================================================\n// Reads each card JSON and builds jobs for the Hunyuan3D v2.1\n// pipeline: Upscale \u2192 BG Removal \u2192 Hunyuan3D \u2192 Refine.\n// Falls back to TripoSR if Hunyuan3D fails or is disabled.\n// ============================================================\n\nconst fs = require('fs');\nconst path = require('path');\n\nconst params = $('Set Global Parameters').first().json;\nconst testCardFilter = (params.TestCardFilter || '').trim();\nconst orientations = (params.Orientations || 'upright,reversed,between').split(',').map(s => s.trim());\nconst skipExisting = params.SkipExisting !== 'false';\n\nconst raw = $input.first().json;\nconst deck = raw.data !== undefined ? raw.data : raw;\n\nconst deckDir = ((deck.Assets && deck.Assets.Directory)\n  ? deck.Assets.Directory\n  : 'D:/data/cards/Standard').replace(/\\//g, path.sep);\n\n// Read 3D settings from Deck.json with safe defaults\nconst models3D = (deck.Models && deck.Models['3D']) || {};\nconst samplers3D = (deck.Samplers && deck.Samplers['3D']) || {};\n\n// FIX: Read Hunyuan3D settings from Samplers.Hunyuan3D (sibling of Samplers.3D)\nconst h3dSettings = (deck.Samplers && deck.Samplers.Hunyuan3D) || {};\n\n// Model references\nconst upscaleModel = models3D.UpscaleModel || 'RealESRGAN_x4plus.pth';\nconst hunyuan3DCheckpoint = models3D.Hunyuan3DCheckpoint || 'hunyuan_3d_v2.1.safetensors';\nconst birefnetModel = models3D.BiRefNetModel || 'BiRefNet-general';\n\n// TripoSR fallback settings (from Samplers.3D)\nconst tripoResolution = Math.min(samplers3D.Resolution || 256, 512);\nconst tripoThreshold = samplers3D.Threshold || 15.0;\nconst tripoChunkSize = Math.min(samplers3D.ChunkSize || 8192, 10000);\n\nconst cardRefs = deck.Cards;\nif (!cardRefs || cardRefs.length === 0) {\n  throw new Error('[Build 3D Job List] No Cards found in Deck.json.');\n}\n\nconst filteredCards = testCardFilter\n  ? cardRefs.filter(c => c.Card === testCardFilter)\n  : cardRefs;\n\nif (filteredCards.length === 0) {\n  throw new Error('[Build 3D Job List] No cards matched filter: ' + JSON.stringify(testCardFilter));\n}\n\nconst jobs = [];\nconst skippedNoImage = [];\n\nfor (const cardRef of filteredCards) {\n  const cardName = cardRef.Card;\n  const cardSlug = cardName.replace(/[()]/g, '').replace(/\\s+/g, '_');\n  const cardFilePath = path.join(deckDir, cardRef.File.replace(/\\//g, path.sep));\n\n  let cardRaw;\n  try {\n    cardRaw = JSON.parse(fs.readFileSync(cardFilePath, 'utf8').replace(/^\\uFEFF/, ''));\n  } catch(e) {\n    console.warn('[Build 3D Job List] Cannot read card: ' + cardName + ': ' + e.message);\n    continue;\n  }\n\n  const card = cardRaw['data.Cards'] || cardRaw;\n  const cardDir = (card.Directory || path.join(deckDir, 'Cards')).replace(/\\//g, path.sep);\n  const records = card.records || [];\n\n  for (const orientation of orientations) {\n    const record = records.find(r => r.Orientation === orientation);\n    if (!record) continue;\n\n    const glbFilename = 'MODEL_' + cardSlug + '_' + orientation + '.glb';\n    const glbPath = path.join(cardDir, glbFilename);\n\n    if (skipExisting && fs.existsSync(glbPath)) {\n      continue;\n    }\n\n    // Source card image \u2014 use IMG_ prefix, try multiple case variants\n    let cardImgFilename = null;\n    let cardImgPath = null;\n    const orientCaps = orientation.charAt(0).toUpperCase() + orientation.slice(1);\n    const imgCandidates = [\n      'IMG_' + cardSlug + '_' + orientCaps + '.png',\n      'IMG_' + cardSlug + '_' + orientation + '.png',\n      'IMG_' + cardSlug + '_' + orientation.toUpperCase() + '.png'\n    ];\n    for (const candidate of imgCandidates) {\n      const candidatePath = path.join(cardDir, candidate);\n      if (fs.existsSync(candidatePath)) {\n        cardImgFilename = candidate;\n        cardImgPath = candidatePath;\n        break;\n      }\n    }\n    if (!cardImgFilename) {\n      skippedNoImage.push(cardName + ' ' + orientation + ' (tried: ' + imgCandidates.join(', ') + ')');\n      continue;\n    }\n\n    // Intermediate filenames (insertable assets)\n    const upscaledFilename = 'UPSCALED_' + cardSlug + '_' + orientation + '.png';\n    const upscaledPath = path.join(cardDir, upscaledFilename);\n    const noBgFilename = 'NOBG_' + cardSlug + '_' + orientation + '.png';\n    const noBgPath = path.join(cardDir, noBgFilename);\n\n    // Detect existing insertable assets\n    const noBgExists = fs.existsSync(noBgPath);\n    const upscaledExists = fs.existsSync(upscaledPath);\n\n    jobs.push({\n      CardName: cardName,\n      CardSlug: cardSlug,\n      Orientation: orientation,\n      CardDir: cardDir,\n      CardFilePath: cardFilePath,\n      SourceImagePath: cardImgPath,\n      SourceImageFilename: cardImgFilename,\n      GLBFilename: glbFilename,\n      OBJFilename: 'MODEL_' + cardSlug + '_' + orientation + '.obj',\n      RefFilename: '3DREF_' + cardSlug + '_' + orientation + '.png',\n      // Model references\n      UpscaleModel: upscaleModel,\n      Hunyuan3DCheckpoint: hunyuan3DCheckpoint,\n      BiRefNetModel: birefnetModel,\n      // Stage A intermediates\n      UpscaledFilename: upscaledFilename,\n      UpscaledPath: upscaledPath,\n      UpscaledExists: upscaledExists,\n      NoBgFilename: noBgFilename,\n      NoBgPath: noBgPath,\n      NoBgExists: noBgExists,\n      // Hunyuan3D sampler settings (from Deck.json Samplers.Hunyuan3D)\n      H3DLatentRes: h3dSettings.LatentResolution || 3072,\n      H3DSteps: h3dSettings.Steps || 30,\n      H3DCFG: h3dSettings.CFG || 5.5,\n      H3DSampler: h3dSettings.Sampler || 'euler',\n      H3DScheduler: h3dSettings.Scheduler || 'sgm_uniform',\n      H3DOctreeRes: h3dSettings.OctreeResolution || 256,\n      H3DNumChunks: h3dSettings.NumChunks || 8000,\n      H3DMeshAlgo: h3dSettings.MeshAlgorithm || 'surface net',\n      H3DMeshThreshold: h3dSettings.MeshThreshold || 0.6,\n      // TripoSR fallback settings\n      TripoResolution: tripoResolution,\n      TripoThreshold: tripoThreshold,\n      TripoChunkSize: tripoChunkSize\n    });\n  }\n}\n\nif (skippedNoImage.length > 0) {\n  console.warn('[Build 3D Job List] Skipped ' + skippedNoImage.length + ' cards with no source image:');\n  for (const s of skippedNoImage.slice(0, 10)) {\n    console.warn('  - ' + s);\n  }\n}\n\nif (jobs.length === 0) {\n  throw new Error('[Build 3D Job List] No jobs created. Check card images (IMG_ prefix) exist and SkipExisting settings.');\n}\n\nconsole.warn('[Build 3D Job List] Created ' + jobs.length + ' jobs');\nreturn jobs.map(j => ({ json: j }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -768
      ],
      "id": "g3d0-0005-4000-8000-000000000005",
      "name": "Build 3D Job List"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Upscale & Prep Source Images (Stage A)\n// ============================================================\n// For each job, upscales source card image 4x with RealESRGAN,\n// then removes background with BiRefNet. Outputs UPSCALED_ and\n// NOBG_ images. Skips if NOBG already exists (insertable asset).\n// Clears VRAM after all jobs via POST /free.\n// ============================================================\n\nconst http = require('http');\nconst fs = require('fs');\nconst path = require('path');\n\nconst httpRequest = (method, urlStr, body) => new Promise((resolve, reject) => {\n  const m = urlStr.match(/^(https?):\\/\\/([^:/]+)(?::(\\d+))?(\\/?[^?]*)(\\?.*)?$/);\n  if (!m) return reject(new Error('Bad URL: ' + urlStr));\n  const options = { hostname: m[2], port: m[3] ? parseInt(m[3]) : 80, path: (m[4] || '/') + (m[5] || ''), method, headers: {} };\n  if (body) { options.headers['Content-Type'] = 'application/json'; options.headers['Content-Length'] = Buffer.byteLength(body); }\n  const req = http.request(options, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { resolve(data); } });\n  });\n  req.on('error', reject);\n  if (body) req.write(body);\n  req.end();\n});\nconst httpPost = (url, obj) => httpRequest('POST', url, JSON.stringify(obj));\nconst httpGet  = (url)      => httpRequest('GET',  url, null);\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\n\nconst params = $('Set Global Parameters').first().json;\nconst comfyAPI = (params.ComfyUIAPI || 'http://127.0.0.1:8188').replace(/\\/$/, '');\nconst skipExisting = params.SkipExisting !== 'false';\nconst comfyInputDir = 'D:/ComfyUI_windows_portable/ComfyUI/input';\nconst comfyOutputDir = 'D:/ComfyUI_windows_portable/ComfyUI/output';\n\nconst allJobs = $input.all().map(item => item.json);\nconst results = [];\n\nfor (let idx = 0; idx < allJobs.length; idx++) {\n  const job = allJobs[idx];\n\n  if (skipExisting && job.NoBgExists) {\n    console.warn('[Stage A] (' + (idx+1) + '/' + allJobs.length + ') NOBG exists, skipping: ' + job.CardName + ' ' + job.Orientation);\n    results.push({ ...job, StageAStatus: 'exists' });\n    continue;\n  }\n\n  console.warn('[Stage A] (' + (idx+1) + '/' + allJobs.length + ') Upscale+BG removal: ' + job.CardName + ' ' + job.Orientation);\n\n  // Copy source image to ComfyUI input\n  try {\n    fs.copyFileSync(job.SourceImagePath, path.join(comfyInputDir, job.SourceImageFilename));\n  } catch(e) {\n    results.push({ ...job, StageAStatus: 'failed', StageAReason: 'Copy to input: ' + e.message });\n    continue;\n  }\n\n  const comfyPrompt = {\n    \"1\": { \"class_type\": \"LoadImage\", \"inputs\": { \"image\": job.SourceImageFilename }, \"_meta\": { \"title\": \"Load Card Image\" } },\n    \"2\": { \"class_type\": \"UpscaleModelLoader\", \"inputs\": { \"model_name\": job.UpscaleModel }, \"_meta\": { \"title\": \"Load RealESRGAN\" } },\n    \"3\": { \"class_type\": \"ImageUpscaleWithModel\", \"inputs\": { \"upscale_model\": [\"2\", 0], \"image\": [\"1\", 0] }, \"_meta\": { \"title\": \"Upscale 4x\" } },\n    \"4\": { \"class_type\": \"BiRefNetRMBG\", \"inputs\": { \"image\": [\"3\", 0], \"model\": job.BiRefNetModel, \"mask_blur\": 0, \"mask_offset\": 0, \"invert_output\": false, \"refine_foreground\": true, \"background\": \"Alpha\", \"background_color\": \"#222222\" }, \"_meta\": { \"title\": \"Remove Background\" } },\n    \"5\": { \"class_type\": \"SaveImage\", \"inputs\": { \"images\": [\"4\", 0], \"filename_prefix\": \"NOBG_\" + job.CardSlug + \"_\" + job.Orientation }, \"_meta\": { \"title\": \"Save NOBG\" } },\n    \"6\": { \"class_type\": \"SaveImage\", \"inputs\": { \"images\": [\"3\", 0], \"filename_prefix\": \"UPSCALED_\" + job.CardSlug + \"_\" + job.Orientation }, \"_meta\": { \"title\": \"Save Upscaled\" } }\n  };\n\n  let submitData;\n  try { submitData = await httpPost(comfyAPI + '/prompt', { prompt: comfyPrompt }); } catch(e) {\n    results.push({ ...job, StageAStatus: 'failed', StageAReason: 'Submit: ' + e.message }); continue;\n  }\n  if (submitData.error) { results.push({ ...job, StageAStatus: 'failed', StageAReason: 'ComfyUI: ' + JSON.stringify(submitData.error).substring(0, 300) }); continue; }\n  const promptId = submitData.prompt_id;\n  if (!promptId) { results.push({ ...job, StageAStatus: 'failed', StageAReason: 'No prompt_id' }); continue; }\n\n  // Poll for completion (up to 10 min)\n  let done = false;\n  for (let attempt = 0; attempt < 120 && !done; attempt++) {\n    await sleep(5000);\n    try {\n      const hist = await httpGet(comfyAPI + '/history/' + promptId);\n      const entry = hist[promptId];\n      if (!entry) continue;\n      if (entry.status && entry.status.completed) {\n        if (entry.status.status_str === 'error') {\n          results.push({ ...job, StageAStatus: 'failed', StageAReason: 'Execution error' }); done = true; continue;\n        }\n        // Copy outputs to card directory\n        const outputFiles = fs.readdirSync(comfyOutputDir);\n        const nobgPrefix = 'NOBG_' + job.CardSlug + '_' + job.Orientation;\n        const upPrefix = 'UPSCALED_' + job.CardSlug + '_' + job.Orientation;\n        const nobgMatch = outputFiles.filter(f => f.startsWith(nobgPrefix) && f.endsWith('.png')).sort().reverse();\n        const upMatch = outputFiles.filter(f => f.startsWith(upPrefix) && f.endsWith('.png')).sort().reverse();\n        fs.mkdirSync(job.CardDir, { recursive: true });\n        if (nobgMatch.length > 0) {\n          fs.copyFileSync(path.join(comfyOutputDir, nobgMatch[0]), job.NoBgPath);\n          // Also copy to ComfyUI input for Stage B\n          fs.copyFileSync(path.join(comfyOutputDir, nobgMatch[0]), path.join(comfyInputDir, job.NoBgFilename));\n        }\n        if (upMatch.length > 0) {\n          fs.copyFileSync(path.join(comfyOutputDir, upMatch[0]), job.UpscaledPath);\n        }\n        results.push({ ...job, StageAStatus: 'generated', NoBgExists: true, UpscaledExists: true });\n        done = true;\n      }\n    } catch(e) { if (attempt % 12 === 0) console.warn('[Stage A] Poll ' + attempt + ': ' + e.message); }\n  }\n  if (!done) results.push({ ...job, StageAStatus: 'timeout' });\n}\n\n// Free VRAM between stages\ntry { await httpPost(comfyAPI + '/free', { unload_models: true, free_memory: true }); await sleep(2000); } catch(e) {}\n\nconst gen = results.filter(r => r.StageAStatus === 'generated').length;\nconst exi = results.filter(r => r.StageAStatus === 'exists').length;\nconst fail = results.filter(r => r.StageAStatus === 'failed').length;\nconsole.warn('[Stage A] Done: ' + gen + ' generated, ' + exi + ' existed, ' + fail + ' failed');\nreturn results.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -768
      ],
      "id": "g3d0-0020-4000-8000-000000000020",
      "name": "Upscale & Prep Source Images"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Generate 3D Models (Stage C)\n// ============================================================\n// For each job, generates a 3D mesh using:\n//   Tier 1: Hunyuan3D v2.1 single-view (from NOBG image)\n//   Tier 2: TripoSR fallback if Hunyuan3D fails or disabled\n// Clears VRAM via POST /free after each card.\n// ============================================================\n\nconst http = require('http');\nconst fs = require('fs');\nconst path = require('path');\n\nconst httpRequest = (method, urlStr, body) => new Promise((resolve, reject) => {\n  const m = urlStr.match(/^(https?):\\/\\/([^:/]+)(?::(\\d+))?(\\/?[^?]*)(\\?.*)?$/);\n  if (!m) return reject(new Error('Bad URL: ' + urlStr));\n  const options = { hostname: m[2], port: m[3] ? parseInt(m[3]) : 80, path: (m[4] || '/') + (m[5] || ''), method, headers: {} };\n  if (body) { options.headers['Content-Type'] = 'application/json'; options.headers['Content-Length'] = Buffer.byteLength(body); }\n  const req = http.request(options, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { resolve(data); } });\n  });\n  req.on('error', reject);\n  if (body) req.write(body);\n  req.end();\n});\nconst httpPost = (url, obj) => httpRequest('POST', url, JSON.stringify(obj));\nconst httpGet  = (url)      => httpRequest('GET',  url, null);\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\n\nconst params = $('Set Global Parameters').first().json;\nconst comfyAPI = (params.ComfyUIAPI || 'http://127.0.0.1:8188').replace(/\\/$/, '');\nconst hunyuan3DEnabled = params.Hunyuan3DEnabled !== 'false';\nconst comfyInputDir = 'D:/ComfyUI_windows_portable/ComfyUI/input';\nconst comfyOutputDir = 'D:/ComfyUI_windows_portable/ComfyUI/output';\n\n// Free VRAM before starting\ntry { await httpPost(comfyAPI + '/free', { unload_models: true, free_memory: true }); await sleep(2000); } catch(e) {}\n\nconst allJobs = $input.all().map(item => item.json);\nconst results = [];\n\nfor (let idx = 0; idx < allJobs.length; idx++) {\n  const job = allJobs[idx];\n  console.warn('[Stage C] (' + (idx+1) + '/' + allJobs.length + ') ' + job.CardName + ' ' + job.Orientation);\n\n  let generated = false;\n\n  // ------- Tier 1: Hunyuan3D v2.1 single-view -------\n  if (hunyuan3DEnabled && !generated) {\n    const genMethod = 'hunyuan3d_singleview';\n\n    // Use NOBG image, fallback to source image\n    const singleImg = job.NoBgFilename;\n    const singleInInput = path.join(comfyInputDir, singleImg);\n    if (!fs.existsSync(singleInInput) && fs.existsSync(job.NoBgPath)) {\n      fs.copyFileSync(job.NoBgPath, singleInInput);\n    }\n    // Fallback: copy source image if NOBG not available\n    if (!fs.existsSync(singleInInput)) {\n      const srcInInput = path.join(comfyInputDir, job.SourceImageFilename);\n      if (!fs.existsSync(srcInInput)) {\n        fs.copyFileSync(job.SourceImagePath, srcInInput);\n      }\n    }\n    const inputImg = fs.existsSync(singleInInput) ? singleImg : job.SourceImageFilename;\n    console.warn('[Stage C] Using input: ' + inputImg);\n\n    const comfyPrompt = {\n      \"1\":  { \"class_type\": \"unCLIPCheckpointLoader\", \"inputs\": { \"ckpt_name\": job.Hunyuan3DCheckpoint }, \"_meta\": { \"title\": \"Load Hunyuan3D v2.1\" } },\n      \"2\":  { \"class_type\": \"LoadImage\", \"inputs\": { \"image\": inputImg }, \"_meta\": { \"title\": \"Load Front View\" } },\n      \"3\":  { \"class_type\": \"CLIPVisionEncode\", \"inputs\": { \"clip_vision\": [\"1\", 3], \"image\": [\"2\", 0], \"crop\": \"center\" }, \"_meta\": { \"title\": \"Encode Image\" } },\n      \"4\":  { \"class_type\": \"Hunyuan3Dv2Conditioning\", \"inputs\": { \"clip_vision_output\": [\"3\", 0] }, \"_meta\": { \"title\": \"Hunyuan3D Conditioning\" } },\n      \"5\":  { \"class_type\": \"EmptyLatentHunyuan3Dv2\", \"inputs\": { \"resolution\": job.H3DLatentRes, \"batch_size\": 1 }, \"_meta\": { \"title\": \"Empty 3D Latent\" } },\n      \"6\":  { \"class_type\": \"KSampler\", \"inputs\": { \"model\": [\"1\", 0], \"positive\": [\"4\", 0], \"negative\": [\"4\", 1], \"latent_image\": [\"5\", 0], \"seed\": Math.floor(Math.random() * 2147483647), \"steps\": job.H3DSteps, \"cfg\": job.H3DCFG, \"sampler_name\": job.H3DSampler, \"scheduler\": job.H3DScheduler, \"denoise\": 1.0 }, \"_meta\": { \"title\": \"KSampler\" } },\n      \"7\":  { \"class_type\": \"VAEDecodeHunyuan3D\", \"inputs\": { \"samples\": [\"6\", 0], \"vae\": [\"1\", 2], \"num_chunks\": job.H3DNumChunks, \"octree_resolution\": job.H3DOctreeRes }, \"_meta\": { \"title\": \"Decode 3D Voxels\" } },\n      \"8\":  { \"class_type\": \"VoxelToMesh\", \"inputs\": { \"voxel\": [\"7\", 0], \"algorithm\": job.H3DMeshAlgo, \"threshold\": job.H3DMeshThreshold }, \"_meta\": { \"title\": \"Voxel to Mesh\" } },\n      \"9\":  { \"class_type\": \"SaveGLB\", \"inputs\": { \"mesh\": [\"8\", 0], \"filename_prefix\": \"MODEL_\" + job.CardSlug + \"_\" + job.Orientation }, \"_meta\": { \"title\": \"Save GLB\" } }\n    };\n\n    try {\n      const submitData = await httpPost(comfyAPI + '/prompt', { prompt: comfyPrompt });\n      if (submitData.error) throw new Error('ComfyUI reject: ' + JSON.stringify(submitData.error).substring(0, 300));\n      const promptId = submitData.prompt_id;\n      if (!promptId) throw new Error('No prompt_id returned');\n\n      console.warn('[Stage C] Submitted Hunyuan3D prompt: ' + promptId);\n\n      // Poll for completion (up to 60 min)\n      let done = false;\n      for (let attempt = 0; attempt < 720 && !done; attempt++) {\n        await sleep(5000);\n        try {\n          const hist = await httpGet(comfyAPI + '/history/' + promptId);\n          const entry = hist[promptId];\n          if (!entry) continue;\n\n          const statusStr = entry.status ? entry.status.status_str : null;\n          if (statusStr === 'error') {\n            const errMsgs = (entry.status.messages || []).filter(m => m[0] === 'execution_error');\n            const errDetail = errMsgs.length > 0 ? JSON.stringify(errMsgs[0][1]).substring(0, 400) : 'Unknown execution error';\n            throw new Error(errDetail);\n          }\n          if (statusStr === 'success') {\n            results.push({ ...job, Status: 'generated', GenerationMethod: genMethod, PromptId: promptId });\n            generated = true;\n            done = true;\n            console.warn('[Stage C] Hunyuan3D success: ' + job.CardName + ' ' + job.Orientation);\n          }\n        } catch(e) {\n          if (e.message.includes('error') || e.message.includes('ComfyUI')) throw e;\n          if (attempt % 24 === 0) console.warn('[Stage C] Poll ' + attempt + ': ' + e.message);\n        }\n      }\n      if (!done) throw new Error('Timeout after 60 min');\n    } catch(e) {\n      console.warn('[Stage C] Hunyuan3D failed: ' + e.message.substring(0, 300));\n    }\n\n    // Free VRAM after Hunyuan3D attempt\n    try { await httpPost(comfyAPI + '/free', { unload_models: true, free_memory: true }); await sleep(2000); } catch(e) {}\n  }\n\n  // ------- Tier 2: TripoSR fallback -------\n  if (!generated) {\n    console.warn('[Stage C] Falling back to TripoSR for ' + job.CardName + ' ' + job.Orientation);\n\n    // Copy source image to ComfyUI input\n    const srcInInput = path.join(comfyInputDir, job.SourceImageFilename);\n    if (!fs.existsSync(srcInInput)) {\n      try {\n        fs.copyFileSync(job.SourceImagePath, srcInInput);\n      } catch(e) {\n        results.push({ ...job, Status: 'failed', GenerationMethod: 'triposr_failed', Reason: 'Copy: ' + e.message });\n        continue;\n      }\n    }\n\n    const tripoPrompt = {\n      \"1\": { \"class_type\": \"LoadImage\", \"inputs\": { \"image\": job.SourceImageFilename }, \"_meta\": { \"title\": \"Load Card Image\" } },\n      \"2\": { \"class_type\": \"BiRefNetRMBG\", \"inputs\": { \"image\": [\"1\", 0], \"model\": job.BiRefNetModel, \"mask_blur\": 0, \"mask_offset\": 0, \"invert_output\": false, \"refine_foreground\": true, \"background\": \"Alpha\", \"background_color\": \"#222222\" }, \"_meta\": { \"title\": \"Remove Background\" } },\n      \"3\": { \"class_type\": \"SaveImage\", \"inputs\": { \"filename_prefix\": \"3DREF_\" + job.CardSlug + \"_\" + job.Orientation, \"images\": [\"2\", 0] }, \"_meta\": { \"title\": \"Save 3D Ref\" } },\n      \"4\": { \"class_type\": \"LoadTripoSRModel_\", \"inputs\": { \"chunk_size\": job.TripoChunkSize }, \"_meta\": { \"title\": \"Load TripoSR\" } },\n      \"5\": { \"class_type\": \"TripoSRSampler_\", \"inputs\": { \"model\": [\"4\", 0], \"image\": [\"2\", 0], \"resolution\": job.TripoResolution, \"threshold\": job.TripoThreshold, \"device\": \"auto\" }, \"_meta\": { \"title\": \"TripoSR Sampler\" } },\n      \"6\": { \"class_type\": \"SaveTripoSRMesh\", \"inputs\": { \"mesh\": [\"5\", 0], \"filename_prefix\": \"MODEL_\" + job.CardSlug + \"_\" + job.Orientation }, \"_meta\": { \"title\": \"Save Mesh\" } }\n    };\n\n    try {\n      const submitData = await httpPost(comfyAPI + '/prompt', { prompt: tripoPrompt });\n      if (submitData.error) throw new Error('ComfyUI: ' + JSON.stringify(submitData.error).substring(0, 300));\n      const promptId = submitData.prompt_id;\n      if (!promptId) throw new Error('No prompt_id');\n\n      let done = false;\n      for (let attempt = 0; attempt < 360 && !done; attempt++) {\n        await sleep(5000);\n        try {\n          const hist = await httpGet(comfyAPI + '/history/' + promptId);\n          const entry = hist[promptId];\n          if (!entry) continue;\n\n          const statusStr = entry.status ? entry.status.status_str : null;\n          if (statusStr === 'error') throw new Error('TripoSR execution error');\n          if (statusStr === 'success') {\n            results.push({ ...job, Status: 'generated', GenerationMethod: 'triposr', PromptId: promptId });\n            generated = true;\n            done = true;\n          }\n        } catch(e) {\n          if (e.message.includes('error')) throw e;\n          if (attempt % 12 === 0) console.warn('[Stage C] TripoSR poll ' + attempt + ': ' + e.message);\n        }\n      }\n      if (!done) throw new Error('TripoSR timeout after 30 min');\n    } catch(e) {\n      console.warn('[Stage C] TripoSR also failed: ' + e.message.substring(0, 200));\n      results.push({ ...job, Status: 'failed', GenerationMethod: 'all_failed', Reason: e.message.substring(0, 300) });\n    }\n\n    // Free VRAM after TripoSR\n    try { await httpPost(comfyAPI + '/free', { unload_models: true, free_memory: true }); await sleep(2000); } catch(e) {}\n  }\n}\n\nif (results.length === 0) {\n  throw new Error('[Stage C] No results produced. Check ComfyUI is running.');\n}\n\nconst byMethod = {};\nfor (const r of results) { byMethod[r.GenerationMethod || 'unknown'] = (byMethod[r.GenerationMethod || 'unknown'] || 0) + 1; }\nconsole.warn('[Stage C] Done: ' + JSON.stringify(byMethod));\nreturn results.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -768
      ],
      "id": "g3d0-0022-4000-8000-000000000022",
      "name": "Generate 3D Models"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Refine 3D Meshes\n// ============================================================\n// Post-processing on generated GLB files using Python trimesh.\n// Writes a batch Python script to temp, runs it ONCE with all\n// jobs as JSON input. Uses async spawn (not execFileSync) to keep\n// the Node.js event loop alive for task runner heartbeat pings.\n//\n// trimesh 4.x API: uses nondegenerate_faces() mask instead of\n// the removed remove_degenerate_faces/remove_duplicate_faces.\n// ============================================================\n\nconst fs = require('fs');\nconst path = require('path');\nconst { spawn } = require('child_process');\nconst os = require('os');\n\nconst comfyOutputDir = 'D:/ComfyUI_windows_portable/ComfyUI/output';\nconst allItems = $input.all().map(item => item.json);\nconst toRefine = [];  // items that need Python refinement\nconst results = [];   // final output\n\n// --- Phase 1: Copy GLBs from ComfyUI output to card dir (JS, fast) ---\nfor (let idx = 0; idx < allItems.length; idx++) {\n  const item = allItems[idx];\n  if (item.Status !== 'generated') { results.push(item); continue; }\n\n  const cardDir = item.CardDir;\n  const glbDestPath = path.join(cardDir, item.GLBFilename);\n  const prefix = 'MODEL_' + item.CardSlug + '_' + item.Orientation;\n  let glbSourcePath = null;\n\n  try {\n    const outputFiles = fs.readdirSync(comfyOutputDir);\n    const matches = outputFiles.filter(f => f.startsWith(prefix) && f.endsWith('.glb')).sort().reverse();\n    if (matches.length > 0) glbSourcePath = path.join(comfyOutputDir, matches[0]);\n    if (!glbSourcePath) {\n      const meshDir = path.join(comfyOutputDir, 'mesh');\n      if (fs.existsSync(meshDir)) {\n        const meshMatches = fs.readdirSync(meshDir).filter(f => f.startsWith(prefix) && f.endsWith('.glb')).sort().reverse();\n        if (meshMatches.length > 0) glbSourcePath = path.join(meshDir, meshMatches[0]);\n      }\n    }\n  } catch(e) { results.push({ ...item, Status: 'failed', Reason: 'Read output dir: ' + e.message }); continue; }\n\n  if (!glbSourcePath || !fs.existsSync(glbSourcePath)) {\n    results.push({ ...item, Status: 'failed', Reason: 'GLB not found: ' + prefix });\n    continue;\n  }\n\n  try {\n    fs.mkdirSync(cardDir, { recursive: true });\n    fs.copyFileSync(glbSourcePath, glbDestPath);\n  } catch(e) { results.push({ ...item, Status: 'failed', Reason: 'Copy: ' + e.message }); continue; }\n\n  // Copy 3D ref image if exists\n  const refPrefix = '3DREF_' + item.CardSlug + '_' + item.Orientation;\n  try {\n    const refMatches = fs.readdirSync(comfyOutputDir).filter(f => f.startsWith(refPrefix) && f.endsWith('.png')).sort().reverse();\n    if (refMatches.length > 0) fs.copyFileSync(path.join(comfyOutputDir, refMatches[0]), path.join(cardDir, item.RefFilename));\n  } catch(e) {}\n\n  toRefine.push({ idx, item, glbDestPath: glbDestPath.replace(/\\\\/g, '/') });\n}\n\nif (toRefine.length === 0) {\n  console.warn('[Refine] No models to refine');\n  return results.map(r => ({ json: r }));\n}\n\n// --- Phase 2: Batch refine via single Python process ---\nconst jobList = toRefine.map(j => j.glbDestPath);\nconst jobJsonPath = path.join(os.tmpdir(), 'refine_jobs_' + Date.now() + '.json');\nconst resultJsonPath = path.join(os.tmpdir(), 'refine_results_' + Date.now() + '.json');\nfs.writeFileSync(jobJsonPath, JSON.stringify(jobList), 'utf8');\n\nconst pyScript = `\nimport json, sys, gc, os, trimesh\n\nwith open(sys.argv[1], 'r') as f:\n    jobs = json.load(f)\n\nresults = []\nfor i, glb_path in enumerate(jobs):\n    try:\n        m = trimesh.load(glb_path)\n        if hasattr(m, 'geometry') and isinstance(m.geometry, dict):\n            m = trimesh.util.concatenate(list(m.geometry.values()))\n        mask = m.nondegenerate_faces()\n        if not mask.all():\n            m.update_faces(mask)\n        m.remove_unreferenced_vertices()\n        m.fill_holes()\n        if len(m.faces) > 50000:\n            try:\n                m = m.simplify_quadric_decimation(50000)\n            except Exception:\n                pass\n        try:\n            trimesh.smoothing.filter_laplacian(m, iterations=5)\n        except Exception:\n            pass\n        m.fix_normals()\n        stats = f'faces={len(m.faces)} verts={len(m.vertices)} watertight={m.is_watertight}'\n        m.export(glb_path)\n        size_kb = os.path.getsize(glb_path) // 1024\n        results.append({'ok': True, 'stats': stats, 'size_kb': size_kb})\n        print(f'[{i+1}/{len(jobs)}] OK {os.path.basename(glb_path)} {stats}', flush=True)\n    except Exception as e:\n        size_kb = os.path.getsize(glb_path) // 1024 if os.path.exists(glb_path) else 0\n        results.append({'ok': False, 'error': str(e)[:300], 'size_kb': size_kb})\n        print(f'[{i+1}/{len(jobs)}] FAIL {os.path.basename(glb_path)}: {e}', flush=True)\n    gc.collect()\n\nwith open(sys.argv[2], 'w') as f:\n    json.dump(results, f)\n`;\n\nconst pyScriptPath = path.join(os.tmpdir(), 'refine_batch_' + Date.now() + '.py');\nfs.writeFileSync(pyScriptPath, pyScript, 'utf8');\n\nconsole.warn('[Refine] Running batch Python script for ' + toRefine.length + ' models...');\ntry {\n  // Use async spawn instead of execFileSync to keep event loop alive for heartbeats\n  await new Promise((resolve, reject) => {\n    const proc = spawn('python', [pyScriptPath, jobJsonPath, resultJsonPath]);\n    proc.stdout.on('data', d => { const s = d.toString().trim(); if (s) console.warn(s); });\n    proc.stderr.on('data', d => { const s = d.toString().trim(); if (s) console.warn('[Refine stderr] ' + s); });\n    proc.on('close', code => { if (code !== 0) reject(new Error('Python exited with code ' + code)); else resolve(); });\n    proc.on('error', reject);\n  });\n} catch(e) {\n  console.warn('[Refine] Python script error: ' + e.message.substring(0, 500));\n}\n\n// --- Phase 3: Parse results ---\nlet pyResults = [];\ntry {\n  pyResults = JSON.parse(fs.readFileSync(resultJsonPath, 'utf8'));\n} catch(e) {\n  console.warn('[Refine] Cannot read results JSON: ' + e.message);\n}\n\nfor (let i = 0; i < toRefine.length; i++) {\n  const { item, glbDestPath } = toRefine[i];\n  const pr = pyResults[i];\n  if (pr && pr.ok) {\n    results.push({ ...item, Status: 'refined', GLBPath: glbDestPath, GLBSizeKB: pr.size_kb, RefinementStats: pr.stats });\n  } else {\n    const reason = pr ? pr.error : 'No result from Python';\n    const sizeKB = pr ? pr.size_kb : 0;\n    results.push({ ...item, Status: 'generated', GLBPath: glbDestPath, GLBSizeKB: sizeKB, RefinementError: reason });\n  }\n}\n\n// Cleanup temp files\ntry { fs.unlinkSync(jobJsonPath); } catch(e) {}\ntry { fs.unlinkSync(resultJsonPath); } catch(e) {}\ntry { fs.unlinkSync(pyScriptPath); } catch(e) {}\n\nconst refined = results.filter(r => r.Status === 'refined').length;\nconst unrefined = results.filter(r => r.Status === 'generated').length;\nconsole.warn('[Refine] Done: ' + refined + ' refined, ' + unrefined + ' unrefined');\nreturn results.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -768
      ],
      "id": "g3d0-0010-4000-8000-000000000010",
      "name": "Refine 3D Meshes"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Convert GLB to OBJ\n// ============================================================\n// Batch approach: writes all conversion jobs to a JSON file,\n// runs a single Python process to convert all, reads results.\n// Uses async spawn (not execFileSync) to keep event loop alive\n// for task runner heartbeat pings.\n// ============================================================\n\nconst fs = require('fs');\nconst path = require('path');\nconst { spawn } = require('child_process');\nconst os = require('os');\n\nconst allItems = $input.all().map(item => item.json);\nconst toConvert = [];\nconst results = [];\n\n// --- Phase 1: Build conversion job list (JS, fast) ---\nfor (const item of allItems) {\n  if (item.Status !== 'refined' && item.Status !== 'generated') {\n    results.push(item);\n    continue;\n  }\n  const glbPath = (item.GLBPath || path.join(item.CardDir, item.GLBFilename)).replace(/\\\\/g, '/');\n  const objPath = path.join(item.CardDir, item.OBJFilename).replace(/\\\\/g, '/');\n  if (!fs.existsSync(glbPath.replace(/\\//g, path.sep))) {\n    results.push({ ...item, Status: 'failed', Reason: 'GLB not found: ' + glbPath });\n    continue;\n  }\n  toConvert.push({ item, glbPath, objPath });\n}\n\nif (toConvert.length === 0) {\n  console.warn('[Convert] No models to convert');\n  return results.map(r => ({ json: r }));\n}\n\n// --- Phase 2: Batch convert via single Python process ---\nconst jobList = toConvert.map(j => ({ glb: j.glbPath, obj: j.objPath }));\nconst jobJsonPath = path.join(os.tmpdir(), 'convert_jobs_' + Date.now() + '.json');\nconst resultJsonPath = path.join(os.tmpdir(), 'convert_results_' + Date.now() + '.json');\nfs.writeFileSync(jobJsonPath, JSON.stringify(jobList), 'utf8');\n\nconst pyScript = `\nimport json, sys, gc, os, trimesh\n\nwith open(sys.argv[1], 'r') as f:\n    jobs = json.load(f)\n\nresults = []\nfor i, job in enumerate(jobs):\n    glb_path, obj_path = job['glb'], job['obj']\n    try:\n        m = trimesh.load(glb_path)\n        if hasattr(m, 'geometry') and isinstance(m.geometry, dict):\n            m = trimesh.util.concatenate(list(m.geometry.values()))\n        m.export(obj_path)\n        glb_kb = os.path.getsize(glb_path) // 1024\n        obj_kb = os.path.getsize(obj_path) // 1024\n        results.append({'ok': True, 'glb_kb': glb_kb, 'obj_kb': obj_kb})\n        print(f'[{i+1}/{len(jobs)}] OK {os.path.basename(glb_path)} -> {obj_kb}KB OBJ', flush=True)\n    except Exception as e:\n        results.append({'ok': False, 'error': str(e)[:300]})\n        print(f'[{i+1}/{len(jobs)}] FAIL {os.path.basename(glb_path)}: {e}', flush=True)\n    gc.collect()\n\nwith open(sys.argv[2], 'w') as f:\n    json.dump(results, f)\n`;\n\nconst pyScriptPath = path.join(os.tmpdir(), 'convert_batch_' + Date.now() + '.py');\nfs.writeFileSync(pyScriptPath, pyScript, 'utf8');\n\nconsole.warn('[Convert] Running batch Python script for ' + toConvert.length + ' models...');\ntry {\n  // Use async spawn instead of execFileSync to keep event loop alive for heartbeats\n  await new Promise((resolve, reject) => {\n    const proc = spawn('python', [pyScriptPath, jobJsonPath, resultJsonPath]);\n    proc.stdout.on('data', d => { const s = d.toString().trim(); if (s) console.warn(s); });\n    proc.stderr.on('data', d => { const s = d.toString().trim(); if (s) console.warn('[Convert stderr] ' + s); });\n    proc.on('close', code => { if (code !== 0) reject(new Error('Python exited with code ' + code)); else resolve(); });\n    proc.on('error', reject);\n  });\n} catch(e) {\n  console.warn('[Convert] Python script error: ' + e.message.substring(0, 500));\n}\n\n// --- Phase 3: Parse results ---\nlet pyResults = [];\ntry {\n  pyResults = JSON.parse(fs.readFileSync(resultJsonPath, 'utf8'));\n} catch(e) {\n  console.warn('[Convert] Cannot read results JSON: ' + e.message);\n}\n\nfor (let i = 0; i < toConvert.length; i++) {\n  const { item, glbPath, objPath } = toConvert[i];\n  const pr = pyResults[i];\n  if (pr && pr.ok) {\n    results.push({ ...item, Status: 'completed', GLBPath: glbPath, OBJPath: objPath, GLBSizeKB: pr.glb_kb, OBJSizeKB: pr.obj_kb });\n  } else {\n    const reason = pr ? pr.error : 'No result from Python';\n    results.push({ ...item, Status: 'partial', GLBPath: glbPath, Reason: 'OBJ: ' + reason });\n  }\n}\n\n// Cleanup\ntry { fs.unlinkSync(jobJsonPath); } catch(e) {}\ntry { fs.unlinkSync(resultJsonPath); } catch(e) {}\ntry { fs.unlinkSync(pyScriptPath); } catch(e) {}\n\nconst ok = results.filter(r => r.Status === 'completed').length;\nconst partial = results.filter(r => r.Status === 'partial').length;\nconsole.warn('[Convert] Done: ' + ok + ' completed, ' + partial + ' partial');\nreturn results.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -768
      ],
      "id": "g3d0-0007-4000-8000-000000000007",
      "name": "Convert GLB to OBJ"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Report Results\n// ============================================================\n\nconst allItems = $input.all().map(item => item.json);\n\nconst completed = allItems.filter(i => i.Status === 'completed');\nconst partial   = allItems.filter(i => i.Status === 'partial');\nconst failed    = allItems.filter(i => i.Status === 'failed');\nconst timeout   = allItems.filter(i => i.Status === 'timeout');\n\n// Count by generation method\nconst byMethod = {};\nfor (const item of allItems) {\n  const method = item.GenerationMethod || 'unknown';\n  byMethod[method] = (byMethod[method] || 0) + 1;\n}\n\nconst summary = {\n  Total: allItems.length,\n  Completed: completed.length,\n  Partial: partial.length,\n  Failed: failed.length,\n  Timeout: timeout.length,\n  ByMethod: byMethod,\n  Details: allItems.map(i => ({\n    Card: i.CardName,\n    Orientation: i.Orientation,\n    Status: i.Status,\n    Method: i.GenerationMethod || '',\n    GLBPath: i.GLBPath || '',\n    OBJPath: i.OBJPath || '',\n    GLBSizeKB: i.GLBSizeKB || 0,\n    OBJSizeKB: i.OBJSizeKB || 0,\n    Reason: i.Reason || ''\n  }))\n};\n\nconsole.warn('=== 3D Object Generation Complete ===');\nconsole.warn('Completed: ' + completed.length + '  Partial: ' + partial.length + '  Failed: ' + failed.length + '  Timeout: ' + timeout.length);\nconsole.warn('By method: ' + JSON.stringify(byMethod));\n\nif (failed.length > 0) {\n  console.warn('Failed cards:');\n  for (const f of failed) {\n    console.warn('  - ' + f.CardName + ' ' + f.Orientation + ' (' + (f.GenerationMethod || '') + '): ' + (f.Reason || 'unknown'));\n  }\n}\n\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -768
      ],
      "id": "g3d0-0008-4000-8000-000000000008",
      "name": "Report Results"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Global Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Parameters": {
      "main": [
        [
          {
            "node": "Read & Parse Deck.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read & Parse Deck.json": {
      "main": [
        [
          {
            "node": "Build 3D Job List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 3D Job List": {
      "main": [
        [
          {
            "node": "Upscale & Prep Source Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upscale & Prep Source Images": {
      "main": [
        [
          {
            "node": "Generate 3D Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 3D Models": {
      "main": [
        [
          {
            "node": "Refine 3D Meshes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refine 3D Meshes": {
      "main": [
        [
          {
            "node": "Convert GLB to OBJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert GLB to OBJ": {
      "main": [
        [
          {
            "node": "Report Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "d7f41a3bc4c9824ed68d95186cb055000c790e15bf2666fbda9ebc1cffc1c54a"
  },
  "tags": [
    {
      "name": "Tarot"
    },
    {
      "name": "3D"
    }
  ]
}