n8n/Generate Narration Styles.json
{
    "name": "Generate Narration Styles",
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1320,
                0
            ],
            "id": "gns0001-0001-4000-8000-000000000001",
            "name": "When clicking 'Execute workflow'"
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\n// ── Machine configuration ──────────────────────────────────────────────────────────────────────────────\n// Edit config.json to change paths for your machine. Do not edit this node.\nconst CONFIG_PATH = process.env.TAROT_CONFIG || 'D:/TarotCardProject/config.json';\n// ─────────────────────────────────────────────────────────────────────────────────\nconst config = JSON.parse(fs.readFileSync(CONFIG_PATH, 'utf8'));\n\nreturn [{ json: {\n    // Machine-specific (from config.json)\n    CardsDir:  config.DefaultDeckDir + '/Cards',\n    OllamaAPI: config.OllamaAPI,\n    // Workflow-specific\n    OllamaModel:  'mistral:latest',\n    SkipExisting: false,\n} }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1080,
                0
            ],
            "id": "gns0001-0002-4000-8000-000000000002",
            "name": "Set Global Parameters"
        },
        {
            "parameters": {
                "jsCode": "const fs   = require('fs');\nconst path = require('path');\n\nconst params    = $input.first().json;\nconst cardsDir  = params.CardsDir;\nconst ollamaModel = params.OllamaModel;\nconst ollamaAPI   = params.OllamaAPI;\nconst skipExisting = !!params.SkipExisting;\n\nconst files = fs.readdirSync(cardsDir)\n  .filter(f => f.endsWith('.json'))\n  .sort();\n\nif (files.length === 0) {\n  throw new Error(\n    `[Scan Card Files] No JSON files found in ${cardsDir}. ` +\n    'Check that CardsDir is correct.'\n  );\n}\n\nconsole.log(`[Scan Card Files] Found ${files.length} card files in ${cardsDir}`);\n\nreturn files.map(f => {\n  const fullPath = path.join(cardsDir, f);\n  const resolved = path.resolve(fullPath);\n  const resolvedDir = path.resolve(cardsDir);\n  if (!resolved.startsWith(resolvedDir + path.sep) && resolved !== resolvedDir) {\n    throw new Error('[Scan Card Files] Path traversal detected: ' + f);\n  }\n  return { json: {\n    FilePath:     fullPath,\n    FileName:     f,\n    OllamaModel:  ollamaModel,\n    OllamaAPI:    ollamaAPI,\n    SkipExisting: skipExisting\n  } };\n});\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -840,
                0
            ],
            "id": "gns0001-0003-4000-8000-000000000003",
            "name": "Scan Card Files"
        },
        {
            "parameters": {
                "jsCode": "const http  = require('http');\nconst https = require('https');\nconst fs    = require('fs');\nconst path  = require('path');\n\nconst httpRequest = (method, urlStr, body) => new Promise((resolve, reject) => {\n  const m = urlStr.match(/^(https?):\/\\/([^:/]+)(?::(\\d+))?(\\/?[^?]*)(\\?.*)?$/);\n  const protocol = m[1], hostname = m[2];\n  const port = m[3] ? parseInt(m[3]) : (protocol === 'https' ? 443 : 80);\n  const pathPart = (m[4] || '/') + (m[5] || '');\n  const lib = protocol === 'https' ? https : http;\n  const options = { hostname, port, path: pathPart, method, headers: {} };\n  if (body) {\n    options.headers['Content-Type'] = 'application/json';\n    options.headers['Content-Length'] = Buffer.byteLength(body);\n  }\n  const req = lib.request(options, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { resolve(data); } });\n  });\n  req.on('error', reject);\n  if (body) req.write(body);\n  req.end();\n});\nconst httpPost = (url, bodyObj) => httpRequest('POST', url, JSON.stringify(bodyObj));\nconst httpGet = (url) => httpRequest('GET', url, null);\n\nconst allItems   = $input.all().map(i => i.json);\nconst ollamaAPI  = allItems[0].OllamaAPI;\nconst ollamaModel = allItems[0].OllamaModel;\nconst skipExisting = allItems[0].SkipExisting;\n\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\nconst results = [];\nconst errors  = [];\n\n// Allowed Voice values — must match Deck.json Prompts.Narration.VoiceMap keys\nconst VALID_VOICES = [\n  'Female', 'Male', 'Neutral',\n  'Young Female', 'Young Male',\n  'Mature Female', 'Mature Male',\n  'Warm Female', 'Mystical', 'Authoritative'\n];\n\n// Generic placeholder values written by previous tooling — treat as absent\nconst GENERIC_VOICE = 'Female';\nconst GENERIC_TONE  = 'Warm and uplifting';\nconst GENERIC_PACE  = 'Moderate';\n\nfor (const item of allItems) {\n  const { FilePath, FileName } = item;\n\n  // --- Read card JSON ---\n  let cardData;\n  try {\n    cardData = JSON.parse(fs.readFileSync(FilePath, 'utf8'));\n  } catch (e) {\n    errors.push({ file: FileName, error: 'Read/parse error: ' + e.message });\n    console.warn(`[Gen Narration] Read error ${FileName}: ${e.message}`);\n    continue;\n  }\n\n  const cardMeta = cardData['data.Cards'];\n  if (!cardMeta || !Array.isArray(cardMeta.records)) {\n    errors.push({ file: FileName, error: 'No data.Cards.records array' });\n    console.warn(`[Gen Narration] No records in ${FileName}`);\n    continue;\n  }\n\n  const cardName = cardMeta.Card || FileName.replace(/\\.json$/, '').replace(/_/g, ' ');\n  let updatedCount = 0;\n\n  for (const record of cardMeta.records) {\n    const orientation = record.Orientation || '(unknown)';\n    const ci          = record.Prompts?.CharacterImage || {};\n    const positivePrompt = (ci.Positive || '').trim();\n    const charName       = (ci.CharacterName || '').trim();\n\n    if (!positivePrompt) {\n      console.warn(`[Gen Narration] No Positive prompt for ${cardName}/${orientation} — skipping`);\n      continue;\n    }\n\n    // --- Skip if all fields already populated and non-generic (when SkipExisting=true) ---\n    if (skipExisting) {\n      const narr = record.Prompts?.Narration || {};\n      const allFilled =\n        narr.Voice      && narr.Voice      !== GENERIC_VOICE &&\n        narr.Tone       && narr.Tone       !== GENERIC_TONE  &&\n        narr.Pace       && narr.Pace       !== GENERIC_PACE  &&\n        narr.Emphasis   && narr['De-emphasis'];\n      if (allFilled) {\n        console.log(`[Gen Narration] ${cardName}/${orientation}: already has custom values, skipping`);\n        continue;\n      }\n    }\n\n    // --- Build Ollama prompt ---\n    const userPrompt = [\n      'You are a tarot card narrator style advisor.',\n      '',\n      'Given this character image for a tarot card:',\n      `  Card:        ${cardName}`,\n      `  Orientation: ${orientation}`,\n      `  Character:   ${charName}`,\n      `  Image cues:  ${positivePrompt}`,\n      '',\n      'Determine the most fitting narration style for reading this card aloud.',\n      'Respond with valid JSON only — no markdown, no extra text.',\n      'Use exactly these fields:',\n      '{',\n      '  \"Voice\": \"one of exactly: Female | Male | Neutral | Young Female | Young Male | Mature Female | Mature Male | Warm Female | Mystical | Authoritative\",',\n      '  \"Tone\": \"2–5 word emotional tone suited to this card and orientation (e.g. Warm and uplifting / Mysterious and Kind / Somber and reflective / Bold and inspiring)\",',\n      '  \"Pace\": \"one of exactly: Slow | Moderate | Brisk\",',\n      '  \"Emphasis\": \"One sentence: what themes or imagery to highlight when narrating this card\",',\n      '  \"De-emphasis\": \"One sentence: what to avoid over-emphasising for this card in this orientation\"',\n      '}'\n    ].join('\\n');\n\n    // --- Call Ollama ---\n    let parsed;\n    try {\n      const resp = await httpPost(\n        ollamaAPI + '/api/generate',\n        {\n          model:  ollamaModel,\n          prompt: userPrompt,\n          stream: false,\n          format: 'json',\n          options: { temperature: 0.3, num_predict: 300 }\n        }\n      );\n\n      const raw = (resp.response || '').trim();\n      try {\n        parsed = JSON.parse(raw);\n      } catch (e) {\n        console.warn(`[Gen Narration] JSON parse failed for ${cardName}/${orientation}: ${raw.substring(0, 120)}`);\n        errors.push({ file: FileName, card: cardName, orientation, error: 'JSON parse: ' + e.message });\n        continue;\n      }\n    } catch (e) {\n      console.warn(`[Gen Narration] Ollama error for ${cardName}/${orientation}: ${e.message}`);\n      errors.push({ file: FileName, card: cardName, orientation, error: 'Ollama: ' + e.message });\n      continue;\n    }\n\n    // --- Validate and normalise Voice ---\n    let voice = (parsed.Voice || '').trim();\n    if (!VALID_VOICES.includes(voice)) {\n      // Try case-insensitive match\n      const match = VALID_VOICES.find(v => v.toLowerCase() === voice.toLowerCase());\n      if (match) {\n        voice = match;\n      } else {\n        console.warn(`[Gen Narration] Invalid Voice \"${voice}\" for ${cardName}/${orientation} — defaulting to Female`);\n        voice = 'Female';\n      }\n    }\n\n    // --- Validate Pace ---\n    let pace = (parsed.Pace || '').trim();\n    if (!['Slow', 'Moderate', 'Brisk'].includes(pace)) {\n      console.warn(`[Gen Narration] Invalid Pace \"${pace}\" for ${cardName}/${orientation} — defaulting to Moderate`);\n      pace = 'Moderate';\n    }\n\n    // --- Merge into record (preserve Volume, Style, Content) ---\n    if (!record.Prompts)          record.Prompts = {};\n    if (!record.Prompts.Narration) record.Prompts.Narration = {};\n\n    record.Prompts.Narration.Voice          = voice;\n    record.Prompts.Narration.Tone           = (parsed.Tone         || '').trim() || record.Prompts.Narration.Tone;\n    record.Prompts.Narration.Pace           = pace;\n    record.Prompts.Narration.Emphasis       = (parsed.Emphasis     || '').trim() || record.Prompts.Narration.Emphasis;\n    record.Prompts.Narration['De-emphasis'] = (parsed['De-emphasis'] || '').trim() || record.Prompts.Narration['De-emphasis'];\n\n    updatedCount++;\n    console.log(`[Gen Narration] ${cardName}/${orientation}: Voice=${voice}, Tone=${record.Prompts.Narration.Tone}, Pace=${pace}`);\n  }\n\n  // --- Write updated card JSON back to disk ---\n  try {\n    fs.writeFileSync(FilePath, JSON.stringify(cardData, null, 2), 'utf8');\n    results.push({ card: cardName, file: FileName, updated: updatedCount });\n    console.log(`[Gen Narration] Written ${FileName} (${updatedCount} records updated)`);\n  } catch (e) {\n    errors.push({ file: FileName, card: cardName, error: 'Write error: ' + e.message });\n    console.warn(`[Gen Narration] Write error ${FileName}: ${e.message}`);\n  }\n}\n\nif (results.length === 0 && errors.length > 0) {\n  throw new Error(\n    `[Gen Narration] All ${errors.length} cards failed. First: ` +\n    `${errors[0].card || errors[0].file} — ${errors[0].error}`\n  );\n}\n\nif (errors.length > 0) {\n  console.warn(`[Gen Narration] ${errors.length} record errors across ${results.length} cards`);\n}\n\nreturn [...results, ...errors].map(r => ({ json: r }));\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -600,
                0
            ],
            "id": "gns0001-0004-4000-8000-000000000004",
            "name": "Generate Narration Styles"
        },
        {
            "parameters": {
                "jsCode": "const all       = $input.all().map(i => i.json);\nconst succeeded = all.filter(j => !j.error && j.updated !== undefined);\nconst failed    = all.filter(j =>  j.error);\n\nconst totalRecords = succeeded.reduce((s, j) => s + (j.updated || 0), 0);\n\nconsole.log(\n  `[Report] Done: ${succeeded.length} cards processed (${totalRecords} records updated), ` +\n  `${failed.length} errors`\n);\n\nif (failed.length > 0) {\n  console.warn('[Report] Errors:');\n  for (const f of failed) {\n    console.warn(`  ${f.card || f.file}: ${f.error}`);\n  }\n}\n\nreturn [{\n  json: {\n    cardsProcessed:  succeeded.length,\n    recordsUpdated:  totalRecords,\n    errorCount:      failed.length,\n    errors: failed.map(f => ({ card: f.card || f.file, orientation: f.orientation, error: f.error }))\n  }\n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -360,
                0
            ],
            "id": "gns0001-0005-4000-8000-000000000005",
            "name": "Report Results"
        }
    ],
    "connections": {
        "When clicking 'Execute workflow'": {
            "main": [
                [
                    {
                        "node": "Set Global Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Global Parameters": {
            "main": [
                [
                    {
                        "node": "Scan Card Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scan Card Files": {
            "main": [
                [
                    {
                        "node": "Generate Narration Styles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Narration Styles": {
            "main": [
                [
                    {
                        "node": "Report Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-02-26T00:00:00.000Z",
    "versionId": "gns0001-ver1"
}