n8n/Generate Focus Upright Stills.json
{
  "name": "Generate Focus Upright Stills",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -768
      ],
      "id": "fus0-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fus0-p001",
              "name": "DeckJsonPath",
              "value": "D:/data/cards/Standard/Deck.json",
              "type": "string"
            },
            {
              "id": "fus0-p002",
              "name": "ComfyUIAPI",
              "value": "http://127.0.0.1:8188",
              "type": "string"
            },
            {
              "id": "fus0-p003",
              "name": "ComfyUIInputDir",
              "value": "D:/ComfyUI_windows_portable/ComfyUI/input/",
              "type": "string"
            },
            {
              "id": "fus0-p004",
              "name": "ComfyUIOutputDir",
              "value": "D:/ComfyUI_windows_portable/ComfyUI/output/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        -768
      ],
      "id": "fus0-0002-4000-8000-000000000002",
      "name": "Set Global Parameters"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.DeckJsonPath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -832,
        -768
      ],
      "id": "fus0-0003-4000-8000-000000000003",
      "name": "Read Deck.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -608,
        -768
      ],
      "id": "fus0-0004-4000-8000-000000000004",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const http = require(\"http\");\nconst https = require(\"https\");\nconst fs = require(\"fs\");\nconst path = require(\"path\");\nconst { execSync } = require(\"child_process\");\n\nconst httpRequest = (method, urlStr, body) => new Promise((resolve, reject) => {\n  // Parse URL without using URL class (not in vm context)\n  const m = urlStr.match(/^(https?):\\/\\/([^:/]+)(?::(\\d+))?(\\/?[^?]*)(\\?.*)?$/);\n  const protocol = m[1];\n  const hostname = m[2];\n  const port = m[3] ? parseInt(m[3]) : (protocol === \"https\" ? 443 : 80);\n  const pathPart = (m[4] || \"/\") + (m[5] || \"\");\n  const lib = protocol === \"https\" ? https : http;\n  const options = {\n    hostname: hostname,\n    port: port,\n    path: pathPart,\n    method: method,\n    headers: {}\n  };\n  if (body) {\n    options.headers[\"Content-Type\"] = \"application/json\";\n    options.headers[\"Content-Length\"] = Buffer.byteLength(body);\n  }\n  const req = lib.request(options, (res) => {\n    let data = \"\";\n    res.on(\"data\", (chunk) => { data += chunk; });\n    res.on(\"end\", () => {\n      try { resolve(JSON.parse(data)); }\n      catch(e) { resolve(data); }\n    });\n  });\n  req.on(\"error\", reject);\n  if (body) req.write(body);\n  req.end();\n});\nconst httpPost = (url, bodyObj) => httpRequest(\"POST\", url, JSON.stringify(bodyObj));\nconst httpGet = (url) => httpRequest(\"GET\", url, null);\n\nconst params = $(\"Set Global Parameters\").first().json;\nconst comfyAPI = params.ComfyUIAPI;\nconst comfyInputDir = params.ComfyUIInputDir;\nconst comfyOutputDir = params.ComfyUIOutputDir;\n\nconst raw = $input.first().json;\nconst deck = (raw.data !== undefined) ? raw.data : raw;\n\nconst deckDir = (deck.Assets && deck.Assets.Directory ? deck.Assets.Directory : \"D:/data/cards/Standard\").replace(/\\//g, path.sep);\n\nconst cardRefs = deck.Cards;\nif (!cardRefs || cardRefs.length === 0) {\n  throw new Error(\"[Generate Focus Upright Stills] No Cards found in Deck.json. Ensure the deck has a Cards array.\");\n}\n\nconst models = deck.Models || {};\nconst samplers = deck.Samplers || {};\nconst interpSampler = samplers.Interpolation || {};\n\nconst unetName = models.InterpolationUNet || \"wan2.2_i2v_low_noise_14B_fp8_scaled.safetensors\";\nconst clipName = models.InterpolationCLIP || \"umt5_xxl_fp8_e4m3fn_scaled.safetensors\";\nconst vaeName = models.InterpolationVAE || \"wan_2.1_vae.safetensors\";\n\nconst steps = interpSampler.Steps || 20;\nconst cfg = interpSampler.CFG || 7.0;\nconst denoise = interpSampler.Denoise || 1.0;\nconst shift = interpSampler.Shift || 1.0;\nconst samplerName = interpSampler.Sampler || \"uni_pc_bh2\";\nconst scheduler = interpSampler.Scheduler || \"sgm_uniform\";\n\nconst geom = (deck.Geometries && deck.Geometries.Animation) ? deck.Geometries.Animation : {};\nconst videoLength = geom.InterpolationFrames || 13;\nconst frameRate = geom.FrameRate || 12;\nconst rawW = geom.Width || 832;\nconst rawH = geom.Height || 480;\nconst vidWidth = Math.min(rawW, rawH);\nconst vidHeight = Math.max(rawW, rawH);\n\nconst STILL_COUNT = 7;\nconst FRAME_STEP = Math.round((videoLength - 1) / (STILL_COUNT - 1));\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n\nconst results = { processed: 0, skipped: 0, failed: 0, cards: [] };\nfor (const cardRef of cardRefs) {\n  const cardName = cardRef.Card;\n  const cardFilePath = path.join(deckDir, cardRef.File.replace(/\\//g, path.sep));\n\n  let cardRaw;\n  try {\n    const rawText = fs.readFileSync(cardFilePath, \"utf8\");\n    cardRaw = JSON.parse(rawText);\n  } catch (e) {\n    console.warn(\"[Generate Focus Upright Stills] Could not read/parse card file: \" + cardFilePath + \" error: \" + e.message);\n    results.failed++;\n    results.cards.push({ card: cardName, status: \"failed\", reason: \"Could not read/parse: \" + e.message });\n    continue;\n  }\n\n  const card = cardRaw[\"data.Cards\"] || cardRaw;\n  const cardDir = (card.Directory ? card.Directory : path.join(deckDir, \"Cards\")).replace(/\\//g, path.sep);\n\n  const uprightImageName = card.Assets && card.Assets.UprightImage;\n  if (!uprightImageName) {\n    console.warn(\"[Generate Focus Upright Stills] No Assets.UprightImage for card: \" + cardName);\n    results.skipped++;\n    results.cards.push({ card: cardName, status: \"skipped\", reason: \"No Assets.UprightImage\" });\n    continue;\n  }\n\n  const records = card.records || [];\n  const uprightIdx = records.findIndex((r) => r.Orientation === \"upright\");\n  if (uprightIdx === -1) {\n    console.warn(\"[Generate Focus Upright Stills] No upright record found for card: \" + cardName);\n    results.skipped++;\n    results.cards.push({ card: cardName, status: \"skipped\", reason: \"No upright record\" });\n    continue;\n  }\n\n  const uprightRecord = records[uprightIdx];\n  const cardImageName = uprightRecord.Assets && uprightRecord.Assets.CardImage;\n  if (!cardImageName) {\n    console.warn(\"[Generate Focus Upright Stills] No Assets.CardImage in upright record for card: \" + cardName);\n    results.skipped++;\n    results.cards.push({ card: cardName, status: \"skipped\", reason: \"No upright record Assets.CardImage\" });\n    continue;\n  }\n\n  const uprightImagePath = path.join(cardDir, uprightImageName);\n  const cardImagePath = path.join(cardDir, cardImageName);\n\n  if (!fs.existsSync(uprightImagePath)) {\n    console.warn(\"[Generate Focus Upright Stills] uprightImagePath not found: \" + uprightImagePath);\n    results.skipped++;\n    results.cards.push({ card: cardName, status: \"skipped\", reason: \"UprightImage file not found: \" + uprightImagePath });\n    continue;\n  }\n  if (!fs.existsSync(cardImagePath)) {\n    console.warn(\"[Generate Focus Upright Stills] cardImagePath not found: \" + cardImagePath);\n    results.skipped++;\n    results.cards.push({ card: cardName, status: \"skipped\", reason: \"CardImage file not found: \" + cardImagePath });\n    continue;\n  }\n\n  const slug = cardName.replace(/[()]/g, \"\").replace(/\\s+/g, \"_\");\n\n  const stillNames = [];\n  for (let i = 0; i < STILL_COUNT; i++) {\n    stillNames.push(\"FOCUSUPRIGHTSTILL_\" + slug + \"_\" + i + \".png\");\n  }\n  const stillPaths = stillNames.map((n) => path.join(cardDir, n));\n\n  if (stillPaths.every((p) => fs.existsSync(p))) {\n    console.warn(\"[Generate Focus Upright Stills] All stills already exist for: \" + cardName + \", skipping generation.\");\n    if (!uprightRecord.Assets) uprightRecord.Assets = {};\n    uprightRecord.Assets.FocusUpright = stillNames;\n    fs.writeFileSync(cardFilePath, JSON.stringify(cardRaw, null, 2), \"utf8\");\n    results.skipped++;\n    results.cards.push({ card: cardName, status: \"skipped\", reason: \"All stills already exist\" });\n    continue;\n  }\n\n  const startFilename = \"focus_start_\" + slug + \".png\";\n  const endFilename = \"focus_end_\" + slug + \".png\";\n\n  fs.copyFileSync(uprightImagePath, path.join(comfyInputDir, startFilename));\n  fs.copyFileSync(cardImagePath, path.join(comfyInputDir, endFilename));\n\n  const outputPrefix = \"FOCUSUPRIGHT_\" + slug;\n  const comfyPrompt = {\n    \"1\": {\n      \"class_type\": \"UNETLoader\",\n      \"inputs\": {\n        \"unet_name\": unetName,\n        \"weight_dtype\": \"fp8_e4m3fn\"\n      }\n    },\n    \"2\": {\n      \"class_type\": \"CLIPLoader\",\n      \"inputs\": {\n        \"clip_name\": clipName,\n        \"type\": \"wan\"\n      }\n    },\n    \"3\": {\n      \"class_type\": \"VAELoader\",\n      \"inputs\": {\n        \"vae_name\": vaeName\n      }\n    },\n    \"4\": {\n      \"class_type\": \"CLIPTextEncode\",\n      \"inputs\": {\n        \"text\": \"tarot card focus animation, \" + cardName + \" upright, smooth cinematic transition, high quality\",\n        \"clip\": [\"2\", 0]\n      }\n    },\n    \"5\": {\n      \"class_type\": \"CLIPTextEncode\",\n      \"inputs\": {\n        \"text\": \"blurry, distorted, low quality, artifacts, watermark, text\",\n        \"clip\": [\"2\", 0]\n      }\n    },\n    \"6\": {\n      \"class_type\": \"LoadImage\",\n      \"inputs\": {\n        \"image\": startFilename\n      }\n    },\n    \"13\": {\n      \"class_type\": \"LoadImage\",\n      \"inputs\": {\n        \"image\": endFilename\n      }\n    },\n    \"7\": {\n      \"class_type\": \"WanFirstLastFrameToVideo\",\n      \"inputs\": {\n        \"width\": vidWidth,\n        \"height\": vidHeight,\n        \"length\": videoLength,\n        \"batch_size\": 1,\n        \"positive\": [\"4\", 0],\n        \"negative\": [\"5\", 0],\n        \"vae\": [\"3\", 0],\n        \"start_image\": [\"6\", 0],\n        \"end_image\": [\"13\", 0]\n      }\n    },\n    \"9\": {\n      \"class_type\": \"ModelSamplingSD3\",\n      \"inputs\": {\n        \"model\": [\"1\", 0],\n        \"shift\": shift\n      }\n    },\n    \"10\": {\n      \"class_type\": \"KSampler\",\n      \"inputs\": {\n        \"model\": [\"9\", 0],\n        \"positive\": [\"7\", 0],\n        \"negative\": [\"7\", 1],\n        \"latent_image\": [\"7\", 2],\n        \"seed\": Math.floor(Math.random() * 999999999),\n        \"steps\": steps,\n        \"cfg\": cfg,\n        \"sampler_name\": samplerName,\n        \"scheduler\": scheduler,\n        \"denoise\": denoise\n      }\n    },\n    \"11\": {\n      \"class_type\": \"VAEDecode\",\n      \"inputs\": {\n        \"samples\": [\"10\", 0],\n        \"vae\": [\"3\", 0]\n      }\n    },\n    \"12\": {\n      \"class_type\": \"VHS_VideoCombine\",\n      \"inputs\": {\n        \"images\": [\"11\", 0],\n        \"frame_rate\": frameRate,\n        \"loop_count\": 0,\n        \"filename_prefix\": outputPrefix,\n        \"format\": \"video/h264-mp4\",\n        \"save_output\": true,\n        \"pingpong\": false,\n        \"save_metadata\": false\n      }\n    }\n  };\n\n  let submitData;\n  try {\n    submitData = await httpPost(comfyAPI + \"/prompt\", { prompt: comfyPrompt });\n  } catch (e) {\n    throw new Error(\"[Generate Focus Upright Stills] Failed to submit to ComfyUI for card: \" + cardName + \" error: \" + e.message);\n  }\n\n  const promptId = submitData && submitData.prompt_id;\n  if (!promptId) {\n    throw new Error(\"[Generate Focus Upright Stills] No prompt_id returned from ComfyUI for card: \" + cardName);\n  }\n\n  let videoFilename = null;\n  for (let attempt = 0; attempt < 180 && videoFilename === null; attempt++) {\n    await sleep(5000);\n    let historyData;\n    try {\n      historyData = await httpGet(comfyAPI + \"/history/\" + promptId);\n    } catch (e) {\n      console.warn(\"[Generate Focus Upright Stills] Poll error for \" + cardName + \": \" + e.message);\n      continue;\n    }\n    const entry = historyData && historyData[promptId];\n    if (entry && entry.outputs && entry.outputs[\"12\"] && entry.outputs[\"12\"].gifs && entry.outputs[\"12\"].gifs.length > 0) {\n      const gif = entry.outputs[\"12\"].gifs[0];\n      if (gif.subfolder && gif.subfolder.length > 0) {\n        videoFilename = gif.subfolder + \"/\" + gif.filename;\n      } else {\n        videoFilename = gif.filename;\n      }\n    }\n    if (entry && entry.status && entry.status.status_str === \"error\") {\n      throw new Error(\"[Generate Focus Upright Stills] ComfyUI reported error for card: \" + cardName + \" promptId: \" + promptId);\n    }\n  }\n\n  if (videoFilename === null) {\n    throw new Error(\"[Generate Focus Upright Stills] Timeout waiting for ComfyUI video for card: \" + cardName + \" promptId: \" + promptId);\n  }\n\n  const videoPath = path.join(comfyOutputDir, videoFilename);\n  const tmpPrefix = \"_tmp_fus_\" + slug;\n  const tmpPattern = path.join(cardDir, tmpPrefix + \"_%d.png\");\n\n  try {\n    execSync('ffmpeg -y -i \"' + videoPath + '\" -vsync 0 \"' + tmpPattern + '\"', { encoding: \"utf8\" });\n  } catch (e) {\n    throw new Error(\"[Generate Focus Upright Stills] ffmpeg failed for card: \" + cardName + \" error: \" + (e.stderr || e.message));\n  }\n\n  for (let i = 0; i < STILL_COUNT; i++) {\n    const frameNum = i * FRAME_STEP + 1;\n    const tmpPath = path.join(cardDir, tmpPrefix + \"_\" + frameNum + \".png\");\n    if (!fs.existsSync(tmpPath)) {\n      throw new Error(\"[Generate Focus Upright Stills] Expected frame not found: \" + tmpPath + \" for card: \" + cardName);\n    }\n    fs.renameSync(tmpPath, stillPaths[i]);\n  }\n\n  const allFiles = fs.readdirSync(cardDir);\n  allFiles.filter((f) => f.startsWith(tmpPrefix)).forEach((f) => {\n    fs.unlinkSync(path.join(cardDir, f));\n  });\n\n  if (!uprightRecord.Assets) uprightRecord.Assets = {};\n  uprightRecord.Assets.FocusUpright = stillNames;\n\n  fs.writeFileSync(cardFilePath, JSON.stringify(cardRaw, null, 2), \"utf8\");\n\n  results.processed++;\n  results.cards.push({ card: cardName, status: \"generated\", stills: stillNames });\n}\n\nif (results.processed === 0 && results.failed === 0) {\n  console.warn(\"[Generate Focus Upright Stills] No cards were generated. processed=0, failed=0. skipped=\" + results.skipped);\n}\n\nreturn [{ json: results }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -768
      ],
      "id": "fus0-0005-4000-8000-000000000005",
      "name": "Generate Focus Upright Stills"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fus0-r001",
              "name": "Summary",
              "value": "={{ 'Generated: ' + $json.processed + '  |  Skipped: ' + $json.skipped + '  |  Failed: ' + $json.failed + '  |  Total: ' + $json.cards.length }}",
              "type": "string"
            },
            {
              "id": "fus0-r002",
              "name": "Cards",
              "value": "={{ $json.cards }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -768
      ],
      "id": "fus0-0006-4000-8000-000000000006",
      "name": "Report Results"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Global Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Parameters": {
      "main": [
        [
          {
            "node": "Read Deck.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Deck.json": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Generate Focus Upright Stills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Focus Upright Stills": {
      "main": [
        [
          {
            "node": "Report Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "d7f41a3bc4c9824ed68d95186cb055000c790e15bf2666fbda9ebc1cffc1c54a"
  },
  "tags": [
    {
      "name": "Tarot"
    },
    {
      "name": "Video"
    }
  ]
}