n8n/Generate Full Tarot Images.json
{
  "name": "Generate Full Tarot Images",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        -224
      ],
      "id": "38134239-e9db-43aa-a81d-ff68e9c85b1f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "D:/data/CardImages.ods",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -784,
        -224
      ],
      "id": "938d21dd-16c4-4eec-8aa1-5f6e68ed8829",
      "name": "Read Character Image Spreadsheet"
    },
    {
      "parameters": {
        "operation": "ods",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -560,
        -224
      ],
      "id": "7d8a8371-8fac-4ebd-b025-91bf1814f68b",
      "name": "Read Table and Extract Rows"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdc9d1d9-7028-4bc3-8580-04d6b7791644",
              "name": "Card",
              "value": "={{ $json.Card.trim().replaceAll(' ', '_') }}",
              "type": "string"
            },
            {
              "id": "c5712c59-65fc-4b09-bedd-d4a2dfdacbf4",
              "name": "Orientation",
              "value": "={{ $json[\"Character Name\"].split('(')[1].replace(')', '').trim() }}",
              "type": "string"
            },
            {
              "id": "3c58de13-de05-4741-99fc-30c6d7c205f9",
              "name": "Positive Prompt",
              "value": "={{ $json[\"ComfyUI Positive Prompt\"].trim() }}",
              "type": "string"
            },
            {
              "id": "1749e39e-9229-4ded-b833-b5a01a5c4d68",
              "name": "Negative Prompt",
              "value": "={{ $json[\"ComfyUI Negative Prompt\"].trim() }}",
              "type": "string"
            },
            {
              "id": "a801412f-bf2b-4096-8736-619782c29697",
              "name": "Directory",
              "value": "d:\\data\\Full_Images",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -224
      ],
      "id": "7496fb84-9af3-439a-af2b-fa80337effca",
      "name": "Change Card Name and Extract Orientation"
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "=http://127.0.0.1:8188/prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {\n  \"81\": {\n    \"inputs\": {\n      \"vae_name\": \"ae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\",\n    \"_meta\": {\n      \"title\": \"Load VAE\"\n    }\n  },\n  \"82\": {\n    \"inputs\": {\n      \"clip_name1\": \"clip_l_hidream.safetensors\",\n      \"clip_name2\": \"clip_g_hidream.safetensors\",\n      \"clip_name3\": \"t5xxl_fp8_e4m3fn_scaled.safetensors\",\n      \"clip_name4\": \"llama_3.1_8b_instruct_fp8_scaled.safetensors\"\n    },\n    \"class_type\": \"QuadrupleCLIPLoader\",\n    \"_meta\": {\n      \"title\": \"QuadrupleCLIPLoader\"\n    }\n  },\n  \"84\": {\n    \"inputs\": {\n      \"shift\": 3,\n      \"model\": [\n        \"94\",\n        0\n      ]\n    },\n    \"class_type\": \"ModelSamplingSD3\",\n    \"_meta\": {\n      \"title\": \"ModelSamplingSD3\"\n    }\n  },\n  \"86\": {\n    \"inputs\": {\n      \"width\": 1024,\n      \"height\": 1024,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptySD3LatentImage\",\n    \"_meta\": {\n      \"title\": \"EmptySD3LatentImage\"\n    }\n  },\n  \"89\": {\n    \"inputs\": {\n      \"samples\": [\n        \"93\",\n        0\n      ],\n      \"vae\": [\n        \"81\",\n        0\n      ]\n    },\n    \"class_type\": \"VAEDecode\",\n    \"_meta\": {\n      \"title\": \"VAE Decode\"\n    }\n  },\n  \"93\": {\n    \"inputs\": {\n      \"seed\": 745931716286685,\n      \"steps\": 40,\n      \"cfg\": 5,\n      \"sampler_name\": \"uni_pc\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [\n        \"84\",\n        0\n      ],\n      \"positive\": [\n        \"98\",\n        0\n      ],\n      \"negative\": [\n        \"99\",\n        0\n      ],\n      \"latent_image\": [\n        \"86\",\n        0\n      ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": {\n      \"title\": \"KSampler\"\n    }\n  },\n  \"94\": {\n    \"inputs\": {\n      \"unet_name\": \"hidream_i1_full_fp8.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\",\n    \"_meta\": {\n      \"title\": \"Load Diffusion Model\"\n    }\n  },\n  \"95\": {\n    \"inputs\": {\n      \"images\": [\n        \"89\",\n        0\n      ]\n    },\n    \"class_type\": \"PreviewImage\",\n    \"_meta\": {\n      \"title\": \"Preview Image\"\n    }\n  },\n  \"98\": {\n    \"inputs\": {\n      \"text\": [\n        \"107\",\n        0\n      ],\n      \"clip\": [\n        \"82\",\n        0\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP Text Encode (Prompt)\"\n    }\n  },\n  \"99\": {\n    \"inputs\": {\n      \"text\": [\n        \"100\",\n        0\n      ],\n      \"clip\": [\n        \"82\",\n        0\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP Text Encode (Prompt)\"\n    }\n  },\n  \"100\": {\n    \"inputs\": {\n      \"value\": {{$json[\"Negative Prompt\"].replaceSpecialChars().toJsonString()}}\n    },\n    \"class_type\": \"PrimitiveStringMultiline\",\n    \"_meta\": {\n      \"title\": \"Negative Prompt\"\n    }\n  },\n  \"101\": {\n    \"inputs\": {\n      \"output_path\": [\n        \"105\",\n        0\n      ],\n      \"filename_prefix\": \"IMG\",\n      \"filename_delimiter\": \"_\",\n      \"filename_suffix\": [\n        \"102\",\n        0\n      ],\n      \"extension\": \"png\",\n      \"filename_number_padding\": 2,\n      \"filename_number\": \"start\",\n      \"embeded_workflow\": true,\n      \"images\": [\n        \"89\",\n        0\n      ]\n    },\n    \"class_type\": \"ImageBatchSaver\",\n    \"_meta\": {\n      \"title\": \"Image Batch Saver\"\n    }\n  },\n  \"102\": {\n    \"inputs\": {\n      \"string_a\": [\n        \"103\",\n        0\n      ],\n      \"string_b\": [\n        \"104\",\n        0\n      ],\n      \"delimiter\": \"_\"\n    },\n    \"class_type\": \"StringConcatenate\",\n    \"_meta\": {\n      \"title\": \"Concatenate\"\n    }\n  },\n  \"103\": {\n    \"inputs\": {\n      \"value\": {{$json[\"Card\"].replaceSpecialChars().toJsonString()}}\n    },\n    \"class_type\": \"PrimitiveString\",\n    \"_meta\": {\n      \"title\": \"Card\"\n    }\n  },\n  \"104\": {\n    \"inputs\": {\n      \"value\": {{$json[\"Orientation\"].replaceSpecialChars().toJsonString()}}\n    },\n    \"class_type\": \"PrimitiveString\",\n    \"_meta\": {\n      \"title\": \"Orientation\"\n    }\n  },\n  \"105\": {\n    \"inputs\": {\n      \"value\": \"D:\\\\\\\\data\\\\\\\\Full_Images\"\n    },\n    \"class_type\": \"PrimitiveString\",\n    \"_meta\": {\n      \"title\": \"Directory\"\n    }\n  },\n  \"107\": {\n    \"inputs\": {\n      \"value\": {{$json[\"Positive Prompt\"].trim().replaceAll(/[^\\x20-\\x7E]/g, '').toJsonString()}}\n    },\n    \"class_type\": \"PrimitiveStringMultiline\",\n    \"_meta\": {\n      \"title\": \"Positive Prompt\"\n    }\n  }\n}\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        -224
      ],
      "id": "7f5f1de6-d0ef-4e5f-addc-e3f5c9863c73",
      "name": "Send to ComfyUI Individual Image Prompts",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Character Image Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Character Image Spreadsheet": {
      "main": [
        [
          {
            "node": "Read Table and Extract Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Table and Extract Rows": {
      "main": [
        [
          {
            "node": "Change Card Name and Extract Orientation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Card Name and Extract Orientation": {
      "main": [
        [
          {
            "node": "Send to ComfyUI Individual Image Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e6356946-060a-44af-b3bb-3b4c44dc2651",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7f41a3bc4c9824ed68d95186cb055000c790e15bf2666fbda9ebc1cffc1c54a"
  },
  "id": "Kxahxj8Hdv5gXoYh",
  "tags": [
    {
      "updatedAt": "2026-01-06T23:17:18.501Z",
      "createdAt": "2026-01-06T23:17:18.501Z",
      "id": "m8CyFbu2Pe5sniJX",
      "name": "Tarot"
    },
    {
      "name": "ComfyUI",
      "id": "e2i1eEmoJPwC44Dc",
      "updatedAt": "2026-01-14T00:16:28.711Z",
      "createdAt": "2026-01-14T00:16:28.711Z"
    },
    {
      "name": "Image Prompts",
      "id": "p5QRr0KSMAA8FTtO",
      "updatedAt": "2026-01-14T00:16:39.713Z",
      "createdAt": "2026-01-14T00:16:39.713Z"
    }
  ]
}