n8n/Generate Card Music.json
{
  "name": "Generate Card Music",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -768
      ],
      "id": "gcm1-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gcm1-p001",
              "name": "DeckJsonPath",
              "value": "D:/data/cards/Standard/Deck.json",
              "type": "string"
            },
            {
              "id": "gcm1-p002",
              "name": "TestCardFilter",
              "value": "Ace of Cups",
              "type": "string"
            },
            {
              "id": "gcm1-p003",
              "name": "OrientationFilter",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        -768
      ],
      "id": "gcm1-0002-4000-8000-000000000002",
      "name": "Set Global Parameters"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.DeckJsonPath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -832,
        -768
      ],
      "id": "gcm1-0003-4000-8000-000000000003",
      "name": "Read Deck.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -608,
        -768
      ],
      "id": "gcm1-0004-4000-8000-000000000004",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst fs = require('fs');\nconst path = require('path');\nconst { execFileSync } = require('child_process');\n\n// ── HTTP helpers (n8n sandbox: no axios, no fetch) ──────────────\nconst httpRequest = (method, urlStr, body) => new Promise((resolve, reject) => {\n  const m = urlStr.match(/^(https?):(\\/\\/)([^:/]+)(?::(\\d+))?(\\/?[^?]*)(\\?.*)?$/);\n  if (!m) return reject(new Error('Invalid URL: ' + urlStr));\n  const hostname = m[3];\n  const port = m[4] ? parseInt(m[4]) : 80;\n  const reqPath = (m[5] || '/') + (m[6] || '');\n  const options = { hostname, port, path: reqPath, method, headers: {} };\n  if (body) {\n    options.headers['Content-Type'] = 'application/json';\n    options.headers['Content-Length'] = Buffer.byteLength(body);\n  }\n  const req = http.request(options, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => {\n      try { resolve(JSON.parse(data)); } catch(e) { resolve(data); }\n    });\n  });\n  req.on('error', reject);\n  if (body) req.write(body);\n  req.end();\n});\nconst httpPost = (url, bodyObj) => httpRequest('POST', url, JSON.stringify(bodyObj));\nconst httpGet  = (url)          => httpRequest('GET',  url, null);\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\n\n// ── Parameters ──────────────────────────────────────────────────\nconst params = $('Set Global Parameters').first().json;\nconst testCardFilter = (params.TestCardFilter || '').trim();\nconst orientationFilter = (params.OrientationFilter || '').trim().toLowerCase();\nconst comfyAPI = 'http://127.0.0.1:8188';\nconst COMFY_OUTPUT = 'D:/ComfyUI_windows_portable/ComfyUI/output';\nconst FFMPEG = 'D:/ComfyUI_windows_portable/ffmpeg-8.0.1-full_build/bin/ffmpeg.exe';\n\nconst raw = $input.first().json;\nconst deck = raw.data !== undefined ? raw.data : raw;\n\nconst deckDir = ((deck.Assets && deck.Assets.Directory)\n  ? deck.Assets.Directory\n  : 'D:/data/cards/Standard').replace(/\\//g, path.sep);\n\nconst musicDir = ((deck.Assets && deck.Assets.MusicDirectory)\n  ? deck.Assets.MusicDirectory\n  : path.join(deckDir, 'Music')).replace(/\\//g, path.sep);\n\nfs.mkdirSync(musicDir, { recursive: true });\n\n// ── Deck-level music defaults ───────────────────────────────────\nconst deckMusic = (deck.Prompts && deck.Prompts.Music) || {};\nconst models = deck.Models || {};\n\nconst DECK_BASE_STYLE   = deckMusic.BaseStyle || '';\nconst DECK_NEGATIVE      = deckMusic.Negative || '';\nconst DECK_DURATION      = deckMusic.Duration || 15;\nconst DECK_BPM           = deckMusic.BPM || 80;\nconst DECK_KEY_SCALE     = deckMusic.KeyScale || 'D minor';\nconst DECK_STEPS         = deckMusic.InferenceSteps || 100;\nconst DECK_CFG           = deckMusic.CFG || 7.0;\nconst DECK_SEED          = deckMusic.Seed !== undefined ? deckMusic.Seed : -1;\nconst MUSIC_CHECKPOINT   = models.MusicCheckpoint || 'stable-audio-open-1.0.safetensors';\nconst MUSIC_TEXT_ENCODER  = models.MusicTextEncoder || 't5-base.safetensors';\n\n// ── Post-processing filter chain ────────────────────────────────\n// FFT denoise → bass boost (+6dB at 150Hz) → mid-bass EQ (+3dB at\n// 250Hz) → EBU R128 loudness normalization\nconst PP_FILTER = 'afftdn=nf=-25,bass=g=6:f=150:w=0.5,equalizer=f=250:t=h:w=200:g=3,loudnorm=I=-14:TP=-1:LRA=11';\nconst CROSSFADE_DURATION = 2; // seconds for seamless loop crossfade\n\n// ── Build ComfyUI API prompt (Stable Audio Open 1.0) ────────────\n//\n// Node graph:\n//   1: CheckpointLoaderSimple → MODEL(0), _CLIP(1)_, VAE(2)\n//   2: CLIPLoader (stable_audio, t5-base) → CLIP(0)\n//   3: CLIPTextEncode (positive) → CONDITIONING(0)\n//   4: CLIPTextEncode (negative) → CONDITIONING(0)\n//   5: ConditioningStableAudio → positive(0), negative(1)\n//   6: EmptyLatentAudio → LATENT(0)\n//   7: KSampler → LATENT(0)\n//   8: VAEDecodeAudio → AUDIO(0)\n//   9: SaveAudioMP3 → UI output\n//\nfunction buildMusicPrompt(positiveText, negativeText, duration, seed, filenamePrefix) {\n  const actualSeed = (seed === -1)\n    ? Math.floor(Math.random() * 2147483647)\n    : seed;\n\n  return {\n    \"1\": {\n      \"class_type\": \"CheckpointLoaderSimple\",\n      \"inputs\": {\n        \"ckpt_name\": MUSIC_CHECKPOINT\n      }\n    },\n    \"2\": {\n      \"class_type\": \"CLIPLoader\",\n      \"inputs\": {\n        \"clip_name\": MUSIC_TEXT_ENCODER,\n        \"type\": \"stable_audio\"\n      }\n    },\n    \"3\": {\n      \"class_type\": \"CLIPTextEncode\",\n      \"inputs\": {\n        \"text\": positiveText,\n        \"clip\": [\"2\", 0]\n      }\n    },\n    \"4\": {\n      \"class_type\": \"CLIPTextEncode\",\n      \"inputs\": {\n        \"text\": negativeText,\n        \"clip\": [\"2\", 0]\n      }\n    },\n    \"5\": {\n      \"class_type\": \"ConditioningStableAudio\",\n      \"inputs\": {\n        \"positive\": [\"3\", 0],\n        \"negative\": [\"4\", 0],\n        \"seconds_start\": 0.0,\n        \"seconds_total\": duration\n      }\n    },\n    \"6\": {\n      \"class_type\": \"EmptyLatentAudio\",\n      \"inputs\": {\n        \"seconds\": duration,\n        \"batch_size\": 1\n      }\n    },\n    \"7\": {\n      \"class_type\": \"KSampler\",\n      \"inputs\": {\n        \"model\": [\"1\", 0],\n        \"positive\": [\"5\", 0],\n        \"negative\": [\"5\", 1],\n        \"latent_image\": [\"6\", 0],\n        \"seed\": actualSeed,\n        \"steps\": DECK_STEPS,\n        \"cfg\": DECK_CFG,\n        \"sampler_name\": \"dpmpp_3m_sde\",\n        \"scheduler\": \"sgm_uniform\",\n        \"denoise\": 1.0\n      }\n    },\n    \"8\": {\n      \"class_type\": \"VAEDecodeAudio\",\n      \"inputs\": {\n        \"samples\": [\"7\", 0],\n        \"vae\": [\"1\", 2]\n      }\n    },\n    \"9\": {\n      \"class_type\": \"SaveAudioMP3\",\n      \"inputs\": {\n        \"audio\": [\"8\", 0],\n        \"filename_prefix\": filenamePrefix,\n        \"quality\": \"320k\"\n      }\n    }\n  };\n}\n\n// ── Extract output audio file from ComfyUI history ──────────────\nfunction extractAudioFile(historyEntry) {\n  const outputs = historyEntry.outputs || {};\n  const saveOut = outputs['9'];\n  if (!saveOut) return null;\n  for (const key of ['audio', 'gifs', 'images', 'results']) {\n    if (saveOut[key] && saveOut[key].length > 0) {\n      return saveOut[key][0];\n    }\n  }\n  return null;\n}\n\n// ── ffmpeg post-processing ──────────────────────────────────────\nfunction postProcessAudio(inputPath, outputPath) {\n  try {\n    execFileSync(FFMPEG, [\n      '-y', '-i', inputPath,\n      '-af', PP_FILTER,\n      outputPath\n    ], { encoding: 'utf8', stdio: 'pipe' });\n    return true;\n  } catch (e) {\n    console.warn('[Post-process] ffmpeg failed: ' + (e.stderr || e.message));\n    fs.copyFileSync(inputPath, outputPath);\n    return false;\n  }\n}\n\n// ── Seamless loop crossfade ─────────────────────────────────────\n// Creates a seamless loop by crossfading the tail into the head:\n//   [main] = CROSSFADE_DURATION to (duration - CROSSFADE_DURATION)\n//   [loop] = acrossfade of tail and head\n// Result: plays main, then crossfade seamlessly back to head.\n// When looped, the end of [loop] is identical to where [main]\n// starts, creating a gapless transition.\nfunction makeSeamlessLoop(inputPath) {\n  const tmpPath = inputPath.replace(/\\.mp3$/, '_preloop.mp3');\n  try {\n    fs.renameSync(inputPath, tmpPath);\n  } catch(e) {\n    console.warn('[Loop] Cannot rename for crossfade: ' + e.message);\n    return false;\n  }\n  const xd = CROSSFADE_DURATION;\n  const dur = DECK_DURATION;\n  const mainEnd = dur - xd;  // e.g., 13 for 15s with 2s xfade\n  const filter = [\n    '[0]asplit=3[main_src][tail_src][head_src]',\n    '[main_src]atrim=start=' + xd + ':end=' + mainEnd + ',asetpts=N/SR/TB[main]',\n    '[tail_src]atrim=start=' + mainEnd + ',asetpts=N/SR/TB[tail]',\n    '[head_src]atrim=end=' + xd + ',asetpts=N/SR/TB[head]',\n    '[tail][head]acrossfade=d=' + xd + ':c1=tri:c2=tri[xfade]',\n    '[main][xfade]concat=n=2:v=0:a=1'\n  ].join('; ');\n  try {\n    execFileSync(FFMPEG, [\n      '-y', '-i', tmpPath,\n      '-filter_complex', filter,\n      inputPath\n    ], { encoding: 'utf8', stdio: 'pipe' });\n    fs.unlinkSync(tmpPath);\n    return true;\n  } catch(e) {\n    console.warn('[Loop] Crossfade failed: ' + (e.stderr || e.message).substring(0, 300));\n    // Restore original\n    try { fs.renameSync(tmpPath, inputPath); } catch(e2) {}\n    return false;\n  }\n}\n\n// ── Card processing ─────────────────────────────────────────────\nconst cardRefs = deck.Cards;\nif (!cardRefs || cardRefs.length === 0) {\n  throw new Error('[Generate Music] No Cards found in Deck.json.');\n}\n\nconst filteredCards = testCardFilter\n  ? cardRefs.filter(c => c.Card === testCardFilter)\n  : cardRefs;\n\nif (filteredCards.length === 0) {\n  throw new Error(\n    '[Generate Music] No cards matched filter: ' +\n    JSON.stringify(testCardFilter) +\n    '. Check TestCardFilter matches a Card name in Deck.json.'\n  );\n}\n\nconst results = { processed: 0, skipped: 0, failed: 0, cards: [] };\n\nfor (const cardRef of filteredCards) {\n  const cardName = cardRef.Card;\n  const cardFilePath = path.join(\n    deckDir, cardRef.File.replace(/\\//g, path.sep)\n  );\n\n  let cardRaw;\n  try {\n    cardRaw = JSON.parse(\n      fs.readFileSync(cardFilePath, 'utf8').replace(/^\\uFEFF/, '')\n    );\n  } catch (e) {\n    console.warn('[Generate Music] Cannot read card: ' + cardName + ': ' + e.message);\n    results.failed++;\n    results.cards.push({ card: cardName, status: 'failed', reason: 'Cannot read: ' + e.message });\n    continue;\n  }\n\n  const card = cardRaw['data.Cards'] || cardRaw;\n  const records = card.records || [];\n  let cardModified = false;\n\n  for (const record of records) {\n    const orientation = record.Orientation;\n    if (!orientation) continue;\n\n    // Apply orientation filter if set\n    if (orientationFilter && orientation.toLowerCase() !== orientationFilter) continue;\n\n    const cardMusic = (record.Prompts && record.Prompts.Music) || {};\n    const tags = cardMusic.Tags;\n    if (!tags) {\n      console.warn('[Generate Music] No Tags for ' + cardName + ' ' + orientation + ', skipping.');\n      results.skipped++;\n      results.cards.push({\n        card: cardName, orientation, status: 'skipped',\n        reason: 'No Prompts.Music.Tags'\n      });\n      continue;\n    }\n\n    // Build target filename\n    const slug = cardName.replace(/[()]/g, '').replace(/\\s+/g, '_');\n    const targetFilename = 'MUSIC_' + slug + '_' + orientation + '.mp3';\n    const targetPath = path.join(musicDir, targetFilename);\n\n    // Skip if file already exists (insertable/overridable assets)\n    if (fs.existsSync(targetPath)) {\n      results.skipped++;\n      results.cards.push({\n        card: cardName, orientation, status: 'skipped',\n        reason: 'Already exists'\n      });\n      continue;\n    }\n\n    // Build positive prompt: combine deck base style + card tags +\n    // BPM/key metadata for Stable Audio text conditioning\n    const bpm = cardMusic.BPM || DECK_BPM;\n    const keyScale = cardMusic.KeyScale || DECK_KEY_SCALE;\n    const fullPositive = [\n      DECK_BASE_STYLE,\n      tags,\n      bpm + ' BPM',\n      keyScale\n    ].filter(Boolean).join(', ');\n    const filenamePrefix = 'MUSIC_' + slug + '_' + orientation;\n\n    // Build and submit ComfyUI prompt\n    const prompt = buildMusicPrompt(\n      fullPositive, DECK_NEGATIVE,\n      DECK_DURATION, DECK_SEED, filenamePrefix\n    );\n\n    try {\n      const submitResult = await httpPost(\n        comfyAPI + '/prompt', { prompt }\n      );\n      if (submitResult.error) {\n        throw new Error('ComfyUI reject: ' + JSON.stringify(submitResult.error));\n      }\n      if (!submitResult.prompt_id) {\n        throw new Error('No prompt_id in response: ' + JSON.stringify(submitResult));\n      }\n      const promptId = submitResult.prompt_id;\n\n      // Poll until done (up to 10 min per clip)\n      let outputFile = null;\n      for (let attempt = 0; attempt < 120 && !outputFile; attempt++) {\n        await sleep(5000);\n        const history = await httpGet(comfyAPI + '/history/' + promptId);\n        const entry = history[promptId];\n        if (!entry) continue;\n\n        // Check for execution error\n        if (entry.status && entry.status.status_str === 'error') {\n          const msgs = entry.status.messages || [];\n          throw new Error('ComfyUI execution error: ' + JSON.stringify(msgs));\n        }\n\n        outputFile = extractAudioFile(entry);\n      }\n\n      if (!outputFile) {\n        throw new Error('Timeout waiting for ComfyUI output (10 min)');\n      }\n\n      // Post-process: denoise + bass boost + loudness normalization\n      const comfyFilePath = path.join(\n        COMFY_OUTPUT.replace(/\\//g, path.sep),\n        outputFile.subfolder || '',\n        outputFile.filename\n      );\n\n      if (!fs.existsSync(comfyFilePath)) {\n        throw new Error('Output file not found: ' + comfyFilePath);\n      }\n\n      const ppOk = postProcessAudio(comfyFilePath, targetPath);\n\n      // Apply seamless loop crossfade\n      const loopOk = makeSeamlessLoop(targetPath);\n\n      // Update card JSON\n      if (!record.Assets) record.Assets = {};\n      record.Assets.Music = targetFilename;\n      cardModified = true;\n\n      results.processed++;\n      results.cards.push({\n        card: cardName,\n        orientation,\n        status: 'generated',\n        postProcessed: ppOk,\n        looped: loopOk,\n        file: targetFilename,\n        prompt: fullPositive.length > 120 ? fullPositive.substring(0, 120) + '...' : fullPositive\n      });\n\n    } catch (e) {\n      console.warn(\n        '[Generate Music] Failed: ' + cardName + ' ' + orientation +\n        ': ' + e.message\n      );\n      results.failed++;\n      results.cards.push({\n        card: cardName, orientation, status: 'failed',\n        reason: e.message\n      });\n    }\n  }\n\n  // Save updated card JSON if any records were modified\n  if (cardModified) {\n    try {\n      fs.writeFileSync(cardFilePath, JSON.stringify(cardRaw, null, 2), 'utf8');\n    } catch (e) {\n      console.warn('[Generate Music] Cannot save card JSON: ' + cardName + ': ' + e.message);\n    }\n  }\n}\n\nif (results.processed === 0 && results.failed === 0 && results.skipped === 0) {\n  throw new Error(\n    '[Generate Music] No records processed. ' +\n    'Check TestCardFilter and that card records have Prompts.Music.Tags.'\n  );\n}\n\nreturn [{ json: results }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -768
      ],
      "id": "gcm1-0005-4000-8000-000000000005",
      "name": "Generate All Music"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gcm1-r001",
              "name": "Summary",
              "value": "={{ 'Generated: ' + $json.processed + '  |  Skipped: ' + $json.skipped + '  |  Failed: ' + $json.failed }}",
              "type": "string"
            },
            {
              "id": "gcm1-r002",
              "name": "Cards",
              "value": "={{ $json.cards }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -768
      ],
      "id": "gcm1-0006-4000-8000-000000000006",
      "name": "Report Results"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Global Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Parameters": {
      "main": [
        [
          {
            "node": "Read Deck.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Deck.json": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Generate All Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate All Music": {
      "main": [
        [
          {
            "node": "Report Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "d7f41a3bc4c9824ed68d95186cb055000c790e15bf2666fbda9ebc1cffc1c54a"
  },
  "tags": [
    {
      "name": "Tarot"
    },
    {
      "name": "Music"
    }
  ]
}