n8n/Generate Reversed CardImageUpright.json
{
  "name": "Generate Reversed CardImageUpright",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -768
      ],
      "id": "ciu0-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ciu0-p001",
              "name": "DeckJsonPath",
              "value": "D:/data/cards/Standard/Deck.json",
              "type": "string"
            },
            {
              "id": "ciu0-p002",
              "name": "TestCardFilter",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        -768
      ],
      "id": "ciu0-0002-4000-8000-000000000002",
      "name": "Set Global Parameters"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.DeckJsonPath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -832,
        -768
      ],
      "id": "ciu0-0003-4000-8000-000000000003",
      "name": "Read Deck.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -608,
        -768
      ],
      "id": "ciu0-0004-4000-8000-000000000004",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst { execFileSync } = require('child_process');\n\nconst params = $('Set Global Parameters').first().json;\nconst testCardFilter = (params.TestCardFilter || '').trim();\n\nconst raw = $input.first().json;\nconst deck = raw.data !== undefined ? raw.data : raw;\n\nconst deckDir = ((deck.Assets && deck.Assets.Directory)\n  ? deck.Assets.Directory\n  : 'D:/data/cards/Standard').replace(/\\\\+/g, '/').replace(/\\//g, path.sep);\n\nconst cardRefs = deck.Cards;\nif (!cardRefs || cardRefs.length === 0) {\n  throw new Error('[CardImageUpright] No Cards found in Deck.json.');\n}\n\nconst filteredCards = testCardFilter\n  ? cardRefs.filter(c => c.Card === testCardFilter)\n  : cardRefs;\n\nif (filteredCards.length === 0) {\n  throw new Error('[CardImageUpright] No cards matched filter: ' + JSON.stringify(testCardFilter));\n}\n\nconst results = { processed: 0, skipped: 0, failed: 0, cards: [] };\n\nfor (const cardRef of filteredCards) {\n  const cardName = cardRef.Card;\n  const cardFilePath = path.join(deckDir, cardRef.File.replace(/\\//g, path.sep));\n\n  // Read card JSON\n  let cardRaw;\n  try {\n    cardRaw = JSON.parse(fs.readFileSync(cardFilePath, 'utf8').replace(/^\\uFEFF/, ''));\n  } catch (e) {\n    console.warn('[CardImageUpright] Cannot read card: ' + cardName + ': ' + e.message);\n    results.failed++;\n    results.cards.push({ card: cardName, status: 'failed', reason: 'Cannot read card file: ' + e.message });\n    continue;\n  }\n\n  const card = cardRaw['data.Cards'] || cardRaw;\n  const cardDir = (card.Directory || path.join(deckDir, 'Cards')).replace(/\\\\+/g, '/').replace(/\\//g, path.sep);\n\n  // Find upright record to get its CardImage\n  const uprightRecord = (card.records || []).find(r => r.Orientation === 'upright');\n  if (!uprightRecord) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No upright record' });\n    continue;\n  }\n\n  const uprightCardImageName = uprightRecord.Assets && uprightRecord.Assets.CardImage;\n  if (!uprightCardImageName) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No upright record Assets.CardImage' });\n    continue;\n  }\n\n  const uprightCardImagePath = path.join(cardDir, uprightCardImageName);\n  if (!fs.existsSync(uprightCardImagePath)) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'Upright CardImage not found: ' + uprightCardImagePath });\n    continue;\n  }\n\n  // Find reversed record to add the new field\n  const reversedRecord = (card.records || []).find(r => r.Orientation === 'reversed');\n  if (!reversedRecord) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No reversed record' });\n    continue;\n  }\n\n  // Build output filename\n  const slug = cardName.replace(/[()]/g, '').replace(/\\s+/g, '_');\n  const outputName = 'CARDIMGUPRIGHT_' + slug + '_reversed.png';\n  const outputPath = path.join(cardDir, outputName);\n\n  // Skip if already exists (insertable/overridable convention)\n  if (fs.existsSync(outputPath)) {\n    // Still update the JSON field in case it's missing\n    if (!reversedRecord.Assets) reversedRecord.Assets = {};\n    if (reversedRecord.Assets.CardImageUpright !== outputName) {\n      reversedRecord.Assets.CardImageUpright = outputName;\n      fs.writeFileSync(cardFilePath, JSON.stringify(cardRaw, null, 2), 'utf8');\n    }\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'Already exists, metadata updated' });\n    continue;\n  }\n\n  // Rotate upright CardImage 180 degrees using ffmpeg\n  try {\n    execFileSync('ffmpeg', [\n      '-y',\n      '-i', uprightCardImagePath,\n      '-vf', 'rotate=PI',\n      outputPath\n    ], { encoding: 'utf8', stdio: 'pipe' });\n  } catch (e) {\n    results.failed++;\n    results.cards.push({ card: cardName, status: 'failed', reason: 'ffmpeg rotate error: ' + (e.stderr || e.message) });\n    continue;\n  }\n\n  // Verify output was created\n  if (!fs.existsSync(outputPath)) {\n    results.failed++;\n    results.cards.push({ card: cardName, status: 'failed', reason: 'ffmpeg produced no output file' });\n    continue;\n  }\n\n  // Update card JSON with new CardImageUpright field\n  if (!reversedRecord.Assets) reversedRecord.Assets = {};\n  reversedRecord.Assets.CardImageUpright = outputName;\n  fs.writeFileSync(cardFilePath, JSON.stringify(cardRaw, null, 2), 'utf8');\n\n  results.processed++;\n  results.cards.push({\n    card: cardName,\n    status: 'generated',\n    source: uprightCardImageName,\n    output: outputName\n  });\n}\n\nif (results.processed === 0 && results.failed === 0 && results.skipped === 0) {\n  throw new Error('[CardImageUpright] No cards processed. Check TestCardFilter and Deck.json Cards array.');\n}\n\nreturn [{ json: results }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -768
      ],
      "id": "ciu0-0005-4000-8000-000000000005",
      "name": "Generate CardImageUpright for Reversed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ciu0-r001",
              "name": "Summary",
              "value": "={{ 'Generated: ' + $json.processed + '  |  Skipped: ' + $json.skipped + '  |  Failed: ' + $json.failed }}",
              "type": "string"
            },
            {
              "id": "ciu0-r002",
              "name": "Cards",
              "value": "={{ $json.cards }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -768
      ],
      "id": "ciu0-0006-4000-8000-000000000006",
      "name": "Report Results"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Global Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Parameters": {
      "main": [
        [
          {
            "node": "Read Deck.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Deck.json": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Generate CardImageUpright for Reversed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CardImageUpright for Reversed": {
      "main": [
        [
          {
            "node": "Report Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "d7f41a3bc4c9824ed68d95186cb055000c790e15bf2666fbda9ebc1cffc1c54a"
  },
  "tags": [
    {
      "name": "Tarot"
    },
    {
      "name": "Images"
    }
  ]
}