n8n/Generate Focus Upright Movies.json
{
  "name": "Generate Focus Upright Movies",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -768
      ],
      "id": "gfum-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gfum-p001",
              "name": "DeckJsonPath",
              "value": "D:/data/cards/Standard/Deck.json",
              "type": "string"
            },
            {
              "id": "gfum-p002",
              "name": "TestCardFilter",
              "value": "",
              "type": "string"
            },
            {
              "id": "gfum-p003",
              "name": "FrameDuration",
              "value": "0.25",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        -768
      ],
      "id": "gfum-0002-4000-8000-000000000002",
      "name": "Set Global Parameters"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.DeckJsonPath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -832,
        -768
      ],
      "id": "gfum-0003-4000-8000-000000000003",
      "name": "Read Deck.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -608,
        -768
      ],
      "id": "gfum-0004-4000-8000-000000000004",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst { execSync } = require('child_process');\n\n// ── Parameters ──────────────────────────────────────────────────\nconst params = $('Set Global Parameters').first().json;\nconst testCardFilter = (params.TestCardFilter || '').trim();\nconst frameDuration = parseFloat(params.FrameDuration) || 0.25;\n\nconst raw = $input.first().json;\nconst deck = raw.data !== undefined ? raw.data : raw;\n\nconst deckDir = ((deck.Assets && deck.Assets.Directory)\n  ? deck.Assets.Directory\n  : 'D:/data/cards/Standard').replace(/\\//g, path.sep);\n\nconst cardRefs = deck.Cards;\nif (!cardRefs || cardRefs.length === 0) {\n  throw new Error('[Generate Movie] No Cards found in Deck.json.');\n}\n\n// ── Filter cards ────────────────────────────────────────────────\nconst filteredCards = testCardFilter\n  ? cardRefs.filter(c => c.Card === testCardFilter)\n  : cardRefs;\n\nif (filteredCards.length === 0) {\n  throw new Error(\n    '[Generate Movie] No cards matched filter: ' +\n    JSON.stringify(testCardFilter) +\n    '. Check that TestCardFilter matches a Card name in Deck.json.'\n  );\n}\n\nconst results = { processed: 0, skipped: 0, failed: 0, cards: [] };\n\nfor (const cardRef of filteredCards) {\n  const cardName = cardRef.Card;\n  const cardFilePath = path.join(\n    deckDir,\n    cardRef.File.replace(/\\//g, path.sep)\n  );\n\n  // Read card JSON\n  let cardRaw;\n  try {\n    cardRaw = JSON.parse(\n      fs.readFileSync(cardFilePath, 'utf8').replace(/^\\uFEFF/, '')\n    );\n  } catch (e) {\n    console.warn('[Generate Movie] Cannot read card: ' + cardName + ': ' + e.message);\n    results.failed++;\n    results.cards.push({ card: cardName, status: 'failed', reason: 'Cannot read card file: ' + e.message });\n    continue;\n  }\n\n  const card = cardRaw['data.Cards'] || cardRaw;\n  const cardDir = (card.Directory || path.join(deckDir, 'Cards'))\n    .replace(/\\//g, path.sep);\n\n  // ── Gather required fields ──────────────────────────────────\n\n  // UprightImage from card-level Assets\n  const uprightImageName = card.Assets && card.Assets.UprightImage;\n  if (!uprightImageName) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No Assets.UprightImage' });\n    continue;\n  }\n\n  // Find upright record\n  const uprightRecord = (card.records || []).find(r => r.Orientation === 'upright');\n  if (!uprightRecord) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No upright record' });\n    continue;\n  }\n\n  // Movie output name from record Assets\n  const movieName = uprightRecord.Assets && uprightRecord.Assets.Movie;\n  if (!movieName) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No Movie in upright record Assets' });\n    continue;\n  }\n\n  // CardImage from record Assets\n  const cardImageName = uprightRecord.Assets && uprightRecord.Assets.CardImage;\n  if (!cardImageName) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'No CardImage in upright record Assets' });\n    continue;\n  }\n\n  // Check if movie already exists\n  const movieOutputPath = path.join(cardDir, movieName);\n  if (fs.existsSync(movieOutputPath)) {\n    console.warn('[Generate Movie] Movie already exists for: ' + cardName + ', skipping.');\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'Movie already exists: ' + movieName });\n    continue;\n  }\n\n  // ── Build ordered frame list ────────────────────────────────\n  // Card name slug: replace whitespace with underscore, strip parens\n  const slug = cardName.replace(/[()]/g, '').replace(/\\s+/g, '_');\n  const frames = [];\n  let missingFrame = false;\n\n  // 1. UprightImage (first frame)\n  const uprightImagePath = path.join(cardDir, uprightImageName);\n  if (!fs.existsSync(uprightImagePath)) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'UprightImage not found: ' + uprightImageName });\n    continue;\n  }\n  frames.push(uprightImagePath);\n\n  // 2. FOCUST_UPRIGHT_XXX_00 through _05\n  for (let i = 0; i <= 5; i++) {\n    const nn = String(i).padStart(2, '0');\n    const frameName = 'FOCUST_UPRIGHT_' + slug + '_' + nn + '.png';\n    const framePath = path.join(cardDir, frameName);\n    if (!fs.existsSync(framePath)) {\n      results.skipped++;\n      results.cards.push({ card: cardName, status: 'skipped', reason: 'Missing frame: ' + frameName });\n      missingFrame = true;\n      break;\n    }\n    frames.push(framePath);\n  }\n  if (missingFrame) continue;\n\n  // 3. CardImage (middle frame)\n  const cardImagePath = path.join(cardDir, cardImageName);\n  if (!fs.existsSync(cardImagePath)) {\n    results.skipped++;\n    results.cards.push({ card: cardName, status: 'skipped', reason: 'CardImage not found: ' + cardImageName });\n    continue;\n  }\n  frames.push(cardImagePath);\n\n  // 4. FOCUS_UPRIGHT_XXX_07 through _14\n  for (let i = 7; i <= 14; i++) {\n    const nn = String(i).padStart(2, '0');\n    const frameName = 'FOCUS_UPRIGHT_' + slug + '_' + nn + '.png';\n    const framePath = path.join(cardDir, frameName);\n    if (!fs.existsSync(framePath)) {\n      results.skipped++;\n      results.cards.push({ card: cardName, status: 'skipped', reason: 'Missing frame: ' + frameName });\n      missingFrame = true;\n      break;\n    }\n    frames.push(framePath);\n  }\n  if (missingFrame) continue;\n\n  // ── Build ffmpeg concat file ────────────────────────────────\n  const concatListPath = path.join(cardDir, '_concat_movie_' + slug + '.txt');\n\n  // Each frame held for frameDuration seconds.\n  // Last entry repeated without duration (ffmpeg concat demuxer convention).\n  const lines = [];\n  for (let i = 0; i < frames.length; i++) {\n    const fwd = frames[i].replace(/\\\\/g, '/');\n    lines.push(\"file '\" + fwd + \"'\");\n    lines.push('duration ' + frameDuration);\n  }\n  lines.push(\"file '\" + frames[frames.length - 1].replace(/\\\\/g, '/') + \"'\");\n\n  fs.writeFileSync(concatListPath, lines.join('\\n') + '\\n', 'utf8');\n\n  // ── Run ffmpeg ──────────────────────────────────────────────\n  // Video filter normalises all frames to 512x512:\n  //   - 512x512 images pass through unchanged\n  //   - UprightImage (680x1100) is scaled to cover then center-cropped\n  const vf = 'scale=512:512:force_original_aspect_ratio=increase,crop=512:512';\n  const concatFwd = concatListPath.replace(/\\\\/g, '/');\n  const outputFwd = movieOutputPath.replace(/\\\\/g, '/');\n\n  const cmd =\n    'ffmpeg -y -f concat -safe 0' +\n    ' -i \"' + concatFwd + '\"' +\n    ' -vf \"' + vf + '\"' +\n    ' -c:v mpeg2video -q:v 2 -pix_fmt yuv420p' +\n    ' \"' + outputFwd + '\"';\n\n  try {\n    execSync(cmd, { encoding: 'utf8', timeout: 120000 });\n  } catch (e) {\n    results.failed++;\n    results.cards.push({\n      card: cardName,\n      status: 'failed',\n      reason: 'ffmpeg error: ' + (e.stderr || e.message)\n    });\n    try { fs.unlinkSync(concatListPath); } catch (_) {}\n    continue;\n  }\n\n  // Cleanup temp concat file\n  try { fs.unlinkSync(concatListPath); } catch (_) {}\n\n  results.processed++;\n  results.cards.push({\n    card: cardName,\n    status: 'generated',\n    movie: movieOutputPath,\n    frameCount: frames.length,\n    frameDuration: frameDuration + 's',\n    totalDuration: (frames.length * frameDuration).toFixed(2) + 's'\n  });\n}\n\nif (results.processed === 0 && results.failed === 0 && results.skipped === 0) {\n  throw new Error(\n    '[Generate Movie] No cards processed. ' +\n    'Check TestCardFilter and Deck.json Cards array.'\n  );\n}\n\nreturn [{ json: results }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -768
      ],
      "id": "gfum-0005-4000-8000-000000000005",
      "name": "Generate Focus Upright Movies"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gfum-r001",
              "name": "Summary",
              "value": "={{ 'Generated: ' + $json.processed + '  |  Skipped: ' + $json.skipped + '  |  Failed: ' + $json.failed }}",
              "type": "string"
            },
            {
              "id": "gfum-r002",
              "name": "Cards",
              "value": "={{ $json.cards }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -768
      ],
      "id": "gfum-0006-4000-8000-000000000006",
      "name": "Report Results"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Global Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Parameters": {
      "main": [
        [
          {
            "node": "Read Deck.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Deck.json": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Generate Focus Upright Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Focus Upright Movies": {
      "main": [
        [
          {
            "node": "Report Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "d7f41a3bc4c9824ed68d95186cb055000c790e15bf2666fbda9ebc1cffc1c54a"
  },
  "tags": [
    {
      "name": "Tarot"
    },
    {
      "name": "Images"
    }
  ]
}