n8n/Generate FOCUS Reversed Blend Stills.json
{
  "name": "Generate FOCUS Reversed Blend Stills",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -768
      ],
      "id": "frb0-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "frb0-p001",
              "name": "DeckJsonPath",
              "value": "D:/data/cards/Standard/Deck.json",
              "type": "string"
            },
            {
              "id": "frb0-p002",
              "name": "TestCardFilter",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        -768
      ],
      "id": "frb0-0002-4000-8000-000000000002",
      "name": "Set Global Parameters"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.DeckJsonPath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -832,
        -768
      ],
      "id": "frb0-0003-4000-8000-000000000003",
      "name": "Read Deck.json"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -608,
        -768
      ],
      "id": "frb0-0004-4000-8000-000000000004",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nlet sharp;\ntry {\n  sharp = require('sharp');\n} catch(e) {\n  throw new Error(\n    '[FOCUS Reversed Blend] sharp module not available. ' +\n    'Ensure NODE_FUNCTION_ALLOW_EXTERNAL=* is set when starting n8n. ' +\n    'Error: ' + e.message\n  );\n}\n\n// ── Parameters ──────────────────────────────────────────────────\nconst params = $('Set Global Parameters').first().json;\nconst testCardFilter = (params.TestCardFilter || '').trim();\n\nconst raw = $input.first().json;\nconst deck = raw.data !== undefined ? raw.data : raw;\n\nconst deckDir = ((deck.Assets && deck.Assets.Directory)\n  ? deck.Assets.Directory\n  : 'D:/data/cards/Standard').replace(/\\//g, path.sep);\n\nconst cardRefs = deck.Cards;\nif (!cardRefs || cardRefs.length === 0) {\n  throw new Error('[FOCUS Reversed Blend] No Cards found in Deck.json.');\n}\n\n// ── Constants ───────────────────────────────────────────────────\nconst N_STILLS     = 8;          // 8 blended frames\nconst OUT_SIZE     = 512;        // output resolution\nconst START_INDEX  = 7;          // numbering starts at 07\nconst COMFYUI_INPUT = 'D:/ComfyUI_windows_portable/ComfyUI/input';\n\n// ── Filter cards ────────────────────────────────────────────────\nconst filteredCards = testCardFilter\n  ? cardRefs.filter(c => c.Card === testCardFilter)\n  : cardRefs;\n\nif (filteredCards.length === 0) {\n  throw new Error(\n    '[FOCUS Reversed Blend] No cards matched filter: ' +\n    JSON.stringify(testCardFilter) +\n    '. Check that TestCardFilter matches a Card name in Deck.json.'\n  );\n}\n\n// Ensure ComfyUI input directory exists\nconst comfyInputDir = COMFYUI_INPUT.replace(/\\//g, path.sep);\nfs.mkdirSync(comfyInputDir, { recursive: true });\n\nconst results = { processed: 0, skipped: 0, failed: 0, cards: [] };\n\n// ── Process each card ───────────────────────────────────────────\nfor (const cardRef of filteredCards) {\n  const cardName = cardRef.Card;\n  const cardFilePath = path.join(\n    deckDir,\n    cardRef.File.replace(/\\//g, path.sep)\n  );\n\n  // Read card JSON\n  let cardRaw;\n  try {\n    cardRaw = JSON.parse(\n      fs.readFileSync(cardFilePath, 'utf8').replace(/^\\uFEFF/, '')\n    );\n  } catch(e) {\n    console.warn('[FOCUS Reversed Blend] Cannot read card: ' + cardName + ': ' + e.message);\n    results.failed++;\n    results.cards.push({\n      card: cardName,\n      status: 'failed',\n      reason: 'Cannot read card file: ' + e.message\n    });\n    continue;\n  }\n\n  const card = cardRaw['data.Cards'] || cardRaw;\n  const cardDir = (card.Directory || path.join(deckDir, 'Cards'))\n    .replace(/\\//g, path.sep);\n\n  // Find the reversed record\n  const reversedRecord = (card.records || []).find(\n    r => r.Orientation === 'reversed'\n  );\n  if (!reversedRecord) {\n    results.skipped++;\n    results.cards.push({\n      card: cardName,\n      status: 'skipped',\n      reason: 'No reversed record'\n    });\n    continue;\n  }\n\n  // Get source (CardImageUpright) and target (Image) filenames from reversed record\n  const cardImageName = reversedRecord.Assets && reversedRecord.Assets.CardImageUpright;\n  const imageName     = reversedRecord.Assets && reversedRecord.Assets.Image;\n\n  if (!cardImageName) {\n    results.skipped++;\n    results.cards.push({\n      card: cardName,\n      status: 'skipped',\n      reason: 'No CardImageUpright in reversed record Assets'\n    });\n    continue;\n  }\n  if (!imageName) {\n    results.skipped++;\n    results.cards.push({\n      card: cardName,\n      status: 'skipped',\n      reason: 'No Image in reversed record Assets'\n    });\n    continue;\n  }\n\n  const cardImagePath = path.join(cardDir, cardImageName);\n  const imagePath     = path.join(cardDir, imageName);\n\n  if (!fs.existsSync(cardImagePath)) {\n    results.skipped++;\n    results.cards.push({\n      card: cardName,\n      status: 'skipped',\n      reason: 'CardImageUpright not found:' + cardImagePath\n    });\n    continue;\n  }\n  if (!fs.existsSync(imagePath)) {\n    results.skipped++;\n    results.cards.push({\n      card: cardName,\n      status: 'skipped',\n      reason: 'Image not found: ' + imagePath\n    });\n    continue;\n  }\n\n  // Build output filenames: FOCUS_REVERSED_Ace_of_Cups_07.png .. _14.png\n  const slug = cardName.replace(/[()]/g, '').replace(/\\s+/g, '_');\n  const stillNames = Array.from({ length: N_STILLS }, (_, i) =>\n    'FOCUS_REVERSED_' + slug + '_' +\n    String(START_INDEX + i).padStart(2, '0') + '.png'\n  );\n  const stillPaths = stillNames.map(n => path.join(cardDir, n));\n\n  // Skip if all stills already exist\n  if (stillPaths.every(p => fs.existsSync(p))) {\n    console.warn(\n      '[FOCUS Reversed Blend] Stills already exist for: ' + cardName + ', updating JSON only.'\n    );\n    if (!reversedRecord.Assets) reversedRecord.Assets = {};\n    const existing = reversedRecord.Assets.FocusReversedT || [];\n    // Append without duplicates\n    const merged = [...existing.filter(n => !stillNames.includes(n)), ...stillNames];\n    reversedRecord.Assets.FocusReversedT = merged;\n    fs.writeFileSync(cardFilePath, JSON.stringify(cardRaw, null, 2), 'utf8');\n    results.skipped++;\n    results.cards.push({\n      card: cardName,\n      status: 'skipped',\n      reason: 'Already generated (JSON updated)',\n      stills: stillNames\n    });\n    continue;\n  }\n\n  // ── Generate blended frames ─────────────────────────────────\n  try {\n    // Load source (CardImageUpright) and target (Image), both resized to OUT_SIZE\n    const srcBuf = await sharp(cardImagePath)\n      .resize(OUT_SIZE, OUT_SIZE)\n      .ensureAlpha(0)\n      .removeAlpha()\n      .raw()\n      .toBuffer();\n\n    const tgtBuf = await sharp(imagePath)\n      .resize(OUT_SIZE, OUT_SIZE)\n      .ensureAlpha(0)\n      .removeAlpha()\n      .raw()\n      .toBuffer();\n\n    if (srcBuf.length !== tgtBuf.length) {\n      throw new Error(\n        'Buffer size mismatch after resize: src=' + srcBuf.length +\n        ' tgt=' + tgtBuf.length\n      );\n    }\n\n    const channels = 3; // RGB\n\n    for (let i = 0; i < N_STILLS; i++) {\n      // t goes from 0.0 (100% CardImageUpright) to 1.0 (100% Image)\n      const t = i / (N_STILLS - 1);\n\n      // Per-pixel linear cross-fade\n      const blended = Buffer.alloc(srcBuf.length);\n      for (let j = 0; j < srcBuf.length; j++) {\n        blended[j] = Math.round(srcBuf[j] * (1 - t) + tgtBuf[j] * t);\n      }\n\n      // Write to card directory\n      await sharp(blended, {\n        raw: { width: OUT_SIZE, height: OUT_SIZE, channels }\n      })\n        .png()\n        .toFile(stillPaths[i]);\n\n      // Copy to ComfyUI input directory for testing\n      const comfyDest = path.join(comfyInputDir, stillNames[i]);\n      fs.copyFileSync(stillPaths[i], comfyDest);\n    }\n\n    // ── Update card JSON ────────────────────────────────────────\n    if (!reversedRecord.Assets) reversedRecord.Assets = {};\n    const existing = reversedRecord.Assets.FocusReversedT || [];\n    // Append new names, avoiding duplicates\n    const merged = [...existing.filter(n => !stillNames.includes(n)), ...stillNames];\n    reversedRecord.Assets.FocusReversedT = merged;\n    fs.writeFileSync(cardFilePath, JSON.stringify(cardRaw, null, 2), 'utf8');\n\n    results.processed++;\n    results.cards.push({\n      card: cardName,\n      status: 'generated',\n      stills: stillNames,\n      blendRange: '0.0 (CardImageUpright) → 1.0 (Image)',\n      outputDir: cardDir,\n      comfyInputDir: COMFYUI_INPUT,\n      focusReversedTTotal: merged.length\n    });\n\n  } catch(e) {\n    console.warn('[FOCUS Reversed Blend] Error processing ' + cardName + ': ' + e.message);\n    results.failed++;\n    results.cards.push({\n      card: cardName,\n      status: 'failed',\n      reason: 'Processing error: ' + e.message\n    });\n  }\n}\n\nif (results.processed === 0 && results.failed === 0 && results.skipped === 0) {\n  throw new Error(\n    '[FOCUS Reversed Blend] No cards processed. ' +\n    'Check TestCardFilter and Deck.json Cards array.'\n  );\n}\n\nreturn [{ json: results }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -768
      ],
      "id": "frb0-0005-4000-8000-000000000005",
      "name": "Generate FOCUS Reversed Blend Stills"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "frb0-r001",
              "name": "Summary",
              "value": "={{ 'Generated: ' + $json.processed + '  |  Skipped: ' + $json.skipped + '  |  Failed: ' + $json.failed }}",
              "type": "string"
            },
            {
              "id": "frb0-r002",
              "name": "Cards",
              "value": "={{ $json.cards }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -768
      ],
      "id": "frb0-0006-4000-8000-000000000006",
      "name": "Report Results"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Global Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Parameters": {
      "main": [
        [
          {
            "node": "Read Deck.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Deck.json": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Generate FOCUS Reversed Blend Stills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate FOCUS Reversed Blend Stills": {
      "main": [
        [
          {
            "node": "Report Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "d7f41a3bc4c9824ed68d95186cb055000c790e15bf2666fbda9ebc1cffc1c54a"
  },
  "tags": [
    {
      "name": "Tarot"
    },
    {
      "name": "Images"
    }
  ]
}