n8n/Normalize Deck Structure.json
{
    "name": "Normalize Deck Structure",
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1280,
                -768
            ],
            "id": "a1b2c3d4-0001-4000-8000-000000000001",
            "name": "When clicking 'Execute workflow'"
        },
        {
            "parameters": {
                "fileSelector": "={{ $('Set Global Parameters').first().json.DeckJsonPath }}",
                "options": {
                    "fileExtension": "json",
                    "fileName": "Deck",
                    "dataPropertyName": "data"
                }
            },
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1.1,
            "position": [
                -832,
                -768
            ],
            "id": "a1b2c3d4-0002-4000-8000-000000000002",
            "name": "Read Deck JSON"
        },
        {
            "parameters": {
                "operation": "fromJson",
                "options": {}
            },
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1.1,
            "position": [
                -608,
                -768
            ],
            "id": "a1b2c3d4-0003-4000-8000-000000000003",
            "name": "Extract from File"
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// Normalize Deck Structure - n8n Code Node\n// ============================================================\n// Takes raw Deck.json input and normalizes all cards to a\n// consistent structure. Fixes typos, ensures every card and\n// record has the same fields, and standardizes asset/prompt\n// naming conventions.\n// ============================================================\n\nconst input = $input.first().json;\n\n// Handle both wrapped (data.Name) and unwrapped (Name) input\nconst deck = input.data || input;\n\n// --- Configuration ---\nconst DECK_VERSION = 0.3;\nconst BASE_DIR = $('Set Global Parameters').first().json.CardsDir + '/';\nconst ORIENTATIONS = ['upright', 'reversed', 'between'];\n\n// --- Helper: sanitize card name for file paths ---\nfunction toFileSlug(name) {\n  return name.replace(/[()]/g, '').replace(/\\s+/g, '_');\n}\n\n// --- Helper: build asset filenames for a record ---\nfunction buildRecordAssets(cardSlug, orientation) {\n  return {\n    Image: `IMG_${cardSlug}_${orientation}.png`,\n    CardImage: `CARDIMG_${cardSlug}_${orientation}.png`,\n    Narration: `NARRATION_${cardSlug}_${orientation}.mp3`,\n    Music: `MUSIC_${cardSlug}_${orientation}.mp3`,\n    Movie: `FOCUS_${cardSlug}_${orientation}.mpeg`,\n    PalletImage: `PALLETEIMG_${cardSlug}_${orientation}.png`,\n    Object: `MODEL_${cardSlug}_${orientation}.obj`,\n    ObjectGLB: `MODEL_${cardSlug}_${orientation}.glb`,\n    Object3DRef: `3DREF_${cardSlug}_${orientation}.png`\n  };\n}\n\n// --- Helper: build image prompt template ---\nfunction buildImagePrompts(cardName, orientation) {\n  const otherOrientation = orientation === 'upright' ? 'reversed'\n    : orientation === 'reversed' ? 'upright'\n    : 'upright and reversed';\n  return {\n    Positive: `Describe the imagery and symbolism of the ${cardName} card in an ${orientation} position.`,\n    Negative: `Describe the imagery and symbolism of the ${cardName} card in a ${otherOrientation} position.`\n  };\n}\n\n// --- Helper: build narration prompt template ---\nfunction buildNarrationPrompts(cardName, orientation) {\n  return {\n    Voice: 'Female',\n    Tone: 'Warm and uplifting',\n    Pace: 'Moderate',\n    Volume: 'Medium',\n    Emphasis: `Highlight the themes associated with the ${cardName} card in an ${orientation} position.`,\n    'De-emphasis': `Avoid emphasizing aspects contrary to the ${orientation} orientation.`,\n    Style: 'Narrate in a storytelling manner, engaging the listener with vivid descriptions.',\n    Content: `Focus on the symbolism and meaning of the ${cardName} card in an ${orientation} position.`\n  };\n}\n\n// --- Helper: build music prompt template ---\nfunction buildMusicPrompts(cardName, orientation) {\n  return {\n    Tags: '',\n    Lyrics: '[instrumental]',\n    BPM: 0,\n    KeyScale: ''\n  };\n}\n\n// --- Helper: normalize a single record ---\nfunction normalizeRecord(record, cardName, cardSlug, orientation) {\n  const assets = buildRecordAssets(cardSlug, orientation);\n\n  // Pull content from any existing nested location\n  const existingAssets = record.Assets || record.assets || {};\n  const existingPrompts = record.Prompts || record.prompts || {};\n\n  return {\n    Orientation: orientation,\n    Description: record.Description || '',\n    Meanings: Array.isArray(record.Meanings) ? record.Meanings : [],\n    Keywords: Array.isArray(record.Keywords) ? record.Keywords : [],\n    Advice: record.Advice || '',\n    Affirmation: record.Affirmation || '',\n    Category: Array.isArray(record.Category) ? record.Category : [],\n    Assets: {\n      Image: existingAssets.Image || assets.Image,\n      CardImage: existingAssets.CardImage || assets.CardImage,\n      Narration: existingAssets.Narration || assets.Narration,\n      Music: existingAssets.Music || assets.Music,\n      Movie: existingAssets.Movie || assets.Movie,\n      PalletImage: existingAssets.PalletImage || assets.PalletImage,\n      Object: existingAssets.Object || assets.Object,\n      ObjectGLB: existingAssets.ObjectGLB || assets.ObjectGLB,\n      Object3DRef: existingAssets.Object3DRef || assets.Object3DRef\n    },\n    Prompts: {\n      Image: (existingPrompts.Image && existingPrompts.Image.Positive)\n        ? existingPrompts.Image\n        : buildImagePrompts(cardName, orientation),\n      Narration: (existingPrompts.Narration && existingPrompts.Narration.Voice)\n        ? existingPrompts.Narration\n        : buildNarrationPrompts(cardName, orientation),\n      Music: (existingPrompts.Music && existingPrompts.Music.Tags)\n        ? existingPrompts.Music\n        : buildMusicPrompts(cardName, orientation)\n    }\n  };\n}\n\n// --- Normalize deck-level assets (fix typo) ---\nconst deckAssets = {\n  Directory: deck.Assets?.Directory || '',\n  BackImage: deck.Assets?.BackImage || `${BASE_DIR}IMAGE_Deck_Back.png`,\n  FrontImage: deck.Assets?.FrontImage || `${BASE_DIR}IMAGE_Deck_Front.png`,\n  Music: deck.Assets?.Music || `${BASE_DIR}MUSIC_Deck.wav`,\n  Narration: deck.Assets?.Narration || `${BASE_DIR}NARRATION_Deck.mp3`,\n  Cut: deck.Assets?.Cut || `${BASE_DIR}CUT_Deck.mpg`,\n  Fan: deck.Assets?.Fan || `${BASE_DIR}FAN_Deck.mpg`,\n  Merge: deck.Assets?.Merge || `${BASE_DIR}MERGE_Deck.mpg`,\n  Rotate: `${BASE_DIR}ROTATE_Deck.mpg`  // Fix: was ROTATE_mpg.png\n};\n\n// --- Normalize deck-level prompts ---\nconst deckPrompts = {};\nconst promptKeys = ['BackImage', 'FrontImage', 'Music', 'Narration', 'Cut', 'Fan', 'Merge', 'Rotate'];\nfor (const key of promptKeys) {\n  const existing = deck.Prompts?.[key];\n  deckPrompts[key] = {\n    Positive: existing?.Positive || '',\n    Negative: existing?.Negative || ''\n  };\n}\n\n// --- Normalize deck-level geometries ---\nconst deckGeometries = {\n  Title: {\n    Font: deck.Geometries?.Title?.Font || '',\n    Height: deck.Geometries?.Title?.Height || 18,\n    Width: deck.Geometries?.Title?.Width || 660\n  },\n  Body: {\n    Font: deck.Geometries?.Body?.Font || '',\n    Height: deck.Geometries?.Body?.Height || 660,\n    Width: deck.Geometries?.Body?.Width || 1060\n  },\n  Size: {\n    Height: deck.Geometries?.Size?.Height || 680,\n    Width: deck.Geometries?.Size?.Width || 1100\n  },\n  Images: {\n    Height: deck.Geometries?.Images?.Height || 300,\n    Width: deck.Geometries?.Images?.Width || 300\n  }\n};\n\n// --- Normalize each card ---\nconst normalizedCards = [];\n\nfor (const card of (deck.Cards || [])) {\n  const cardName = card.Card;\n  const cardSlug = toFileSlug(cardName);\n  const cardDir = card.Directory || BASE_DIR;\n\n  // Build a lookup of existing records by orientation\n  const existingRecords = {};\n  for (const rec of (card.records || [])) {\n    const orient = (rec.Orientation || '').toLowerCase();\n    existingRecords[orient] = rec;\n  }\n\n  // Ensure all 3 orientations exist\n  const normalizedRecords = [];\n  for (const orientation of ORIENTATIONS) {\n    const existing = existingRecords[orientation] || {};\n    normalizedRecords.push(\n      normalizeRecord(existing, cardName, cardSlug, orientation)\n    );\n  }\n\n  // Build card-level prompts\n  const cardPrompts = card.Prompts || {};\n  const normalizedCardPrompts = {\n    UprightImage: cardPrompts.UprightImage || buildImagePrompts(cardName, 'upright'),\n    ReversedImage: cardPrompts.ReversedImage || buildImagePrompts(cardName, 'reversed')\n  };\n\n  normalizedCards.push({\n    Card: cardName,\n    Directory: cardDir,\n    Assets: {\n      UprightImage: card.Assets?.UprightImage || `CARD_${cardSlug}_Upright.png`,\n      ReversedImage: card.Assets?.ReversedImage || `CARD_${cardSlug}_Reversed.png`\n    },\n    Prompts: normalizedCardPrompts,\n    records: normalizedRecords\n  });\n}\n\n// --- Assemble the normalized deck ---\nconst normalizedDeck = {\n  Name: deck.Name || 'Standard',\n  Version: DECK_VERSION,\n  Prompts: deckPrompts,\n  Geometries: deckGeometries,\n  Assets: deckAssets,\n  Cards: normalizedCards\n};\n\nreturn [{ json: normalizedDeck }];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -384,
                -768
            ],
            "id": "a1b2c3d4-0004-4000-8000-000000000004",
            "name": "Normalize Deck Structure"
        },
        {
            "parameters": {
                "operation": "toJson",
                "mode": "each",
                "options": {
                    "fileName": "={{ $('Set Global Parameters').first().json.NormalizedOutputPath }}"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                -160,
                -768
            ],
            "id": "a1b2c3d4-0005-4000-8000-000000000005",
            "name": "Convert to JSON File"
        },
        {
            "parameters": {
                "operation": "write",
                "fileName": "={{ $binary.data.directory + '\\\\' + $binary.data.fileName }}",
                "options": {
                    "append": false
                }
            },
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1.1,
            "position": [
                64,
                -768
            ],
            "id": "a1b2c3d4-0006-4000-8000-000000000006",
            "name": "Write Normalized Deck"
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\n// \u00e2\u201d\u20ac\u00e2\u201d\u20ac Machine configuration \u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\n// Edit config.json to change paths for your machine. Do not edit this node.\nconst CONFIG_PATH = process.env.TAROT_CONFIG || 'D:/TarotCardProject/config.json';\n// \u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\u00e2\u201d\u20ac\nconst config = JSON.parse(fs.readFileSync(CONFIG_PATH, 'utf8'));\n\nreturn [{ json: {\n    DeckJsonPath:         config.LegacyDeckJsonPath || (config.CardsDir + '/Deck.json'),\n    CardsDir:             config.CardsDir,\n    NormalizedOutputPath: config.CardsDir + '/Deck_normalized.json',\n} }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1056,
                -768
            ],
            "id": "a1b2c3d4-0000-4000-8000-000000000000",
            "name": "Set Global Parameters"
        }
    ],
    "pinData": {},
    "connections": {
        "When clicking 'Execute workflow'": {
            "main": [
                [
                    {
                        "node": "Set Global Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Deck JSON": {
            "main": [
                [
                    {
                        "node": "Extract from File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract from File": {
            "main": [
                [
                    {
                        "node": "Normalize Deck Structure",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Deck Structure": {
            "main": [
                [
                    {
                        "node": "Convert to JSON File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert to JSON File": {
            "main": [
                [
                    {
                        "node": "Write Normalized Deck",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Global Parameters": {
            "main": [
                [
                    {
                        "node": "Read Deck JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "meta": {
        "instanceId": "d7f41a3bc4c9824ed68d95186cb055000c790e15bf2666fbda9ebc1cffc1c54a"
    },
    "tags": [
        {
            "name": "Tarot"
        },
        {
            "name": "File"
        }
    ]
}