n8n/Update Card JSONs from Spreadsheet.json
{
    "name": "Update Card JSONs from Spreadsheet",
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1320,
                0
            ],
            "id": "upd0001-0001-4000-8000-000000000001",
            "name": "When clicking 'Execute workflow'"
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\n// ── Machine configuration ──────────────────────────────────────────────────────────────────────────────\n// Edit config.json to change paths for your machine. Do not edit this node.\nconst CONFIG_PATH = process.env.TAROT_CONFIG || 'D:/TarotCardProject/config.json';\n// ─────────────────────────────────────────────────────────────────────────────────\nconst config = JSON.parse(fs.readFileSync(CONFIG_PATH, 'utf8'));\n\nreturn [{ json: {\n    // Machine-specific (from config.json)\n    SpreadsheetPath: config.SpreadsheetPath,\n    CardsDir:        config.DefaultDeckDir + '/Cards',\n    // Workflow-specific\n    SheetName: 'Character Prompts',\n} }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1080,
                0
            ],
            "id": "upd0001-0002-4000-8000-000000000002",
            "name": "Set Global Parameters"
        },
        {
            "parameters": {
                "jsCode": "const { execFileSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\nconst os = require('os');\n\nconst params = $input.first().json;\nconst spreadsheetPath = params.SpreadsheetPath;\nconst cardsDir = params.CardsDir;\nconst sheetName = params.SheetName;\n\n// --- Read ODS spreadsheet via xlsx (bundled with n8n) ---\nlet rows;\ntry {\n  const XLSX = require('xlsx');\n  const wb = XLSX.readFile(spreadsheetPath);\n  if (!wb.Sheets[sheetName]) {\n    throw new Error(\n      `Sheet \"${sheetName}\" not found. Available sheets: ${wb.SheetNames.join(', ')}`\n    );\n  }\n  rows = XLSX.utils.sheet_to_json(wb.Sheets[sheetName], { defval: '' });\n  console.log(`[Read Spreadsheet] Read ${rows.length} rows via xlsx`);\n} catch (xlsxErr) {\n  // Fallback: read via Python + odfpy\n  console.warn('[Read Spreadsheet] xlsx failed (' + xlsxErr.message + '), falling back to Python');\n  const pyScript = `\nimport json, sys\ntry:\n    from odf.opendocument import load\n    from odf.table import Table, TableRow, TableCell\n    from odf.text import P\nexcept ImportError:\n    import subprocess\n    subprocess.check_call([sys.executable, '-m', 'pip', 'install', 'odfpy', '-q'])\n    from odf.opendocument import load\n    from odf.table import Table, TableRow, TableCell\n    from odf.text import P\n\ndef cell_value(c):\n    repeat = int(c.getAttribute('numbercolumnsrepeated') or 1)\n    ps = c.getElementsByType(P)\n    val = str(ps[0]) if ps else ''\n    return [val] * repeat\n\ndoc = load(sys.argv[1])\nfor sheet in doc.spreadsheet.getElementsByType(Table):\n    if sheet.getAttribute('name') != sys.argv[2]:\n        continue\n    rows_out = []\n    headers = None\n    for row in sheet.getElementsByType(TableRow):\n        vals = []\n        for c in row.getElementsByType(TableCell):\n            vals.extend(cell_value(c))\n        while vals and not vals[-1]:\n            vals.pop()\n        if not vals:\n            continue\n        if headers is None:\n            headers = vals\n        else:\n            d = {headers[i]: vals[i] if i < len(vals) else '' for i in range(len(headers))}\n            rows_out.append(d)\n    print(json.dumps(rows_out))\n    break\n`;\n  const tmpDir = fs.mkdtempSync(path.join(os.tmpdir(), 'n8n-ods-'));\n  const tmpPy = path.join(tmpDir, '_n8n_read_ods.py');\n  fs.writeFileSync(tmpPy, pyScript, 'utf8');\n  const raw = execFileSync(\n    'python3', [tmpPy, spreadsheetPath, sheetName],\n    { encoding: 'utf8', maxBuffer: 20 * 1024 * 1024 }\n  );\n  rows = JSON.parse(raw.trim());\n  console.log(`[Read Spreadsheet] Read ${rows.length} rows via Python`);\n}\n\nif (!rows || rows.length === 0) {\n  throw new Error(\n    `[Read Spreadsheet] No rows found in sheet \"${sheetName}\". ` +\n    `Check that SpreadsheetPath and SheetName are correct.`\n  );\n}\n\n// --- Validate required columns ---\nconst required = ['Card', 'Character Name', 'ComfyUI Positive Prompt', 'ComfyUI Negative Prompt'];\nconst firstRow = rows[0];\nconst missing = required.filter(c => !(c in firstRow));\nif (missing.length > 0) {\n  throw new Error(\n    `[Read Spreadsheet] Missing columns: ${missing.join(', ')}. ` +\n    `Found: ${Object.keys(firstRow).join(', ')}`\n  );\n}\n\n// --- Group rows by Card ---\nconst byCard = {};\nfor (const row of rows) {\n  const rawCard = (row['Card'] || '').trim();\n  if (!rawCard) continue;\n  // Skip repeat header rows (Card column literally contains 'Card')\n  if (rawCard === 'Card') continue;\n  // Strip trailing orientation suffix ONLY for known orientations: \"Queen of Pentacles (upright)\" -> \"Queen of Pentacles\"\n  // Leave other qualifiers like \"Influencer (modern)\" intact -> \"Influencer_(modern).json\"\n  const card = rawCard.replace(/\\s*\\((upright|reversed|between)\\)\\s*$/i, '').trim();\n  if (!card) continue;\n  if (!byCard[card]) byCard[card] = [];\n  byCard[card].push(row);\n}\n\nconst cardNames = Object.keys(byCard);\nconsole.log(`[Read Spreadsheet] ${cardNames.length} unique cards, ${rows.length} rows total`);\n\nreturn cardNames.map(cardName => ({\n  json: {\n    CardName: cardName,\n    Rows: byCard[cardName],\n    CardsDir: cardsDir\n  }\n}));\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -840,
                0
            ],
            "id": "upd0001-0003-4000-8000-000000000003",
            "name": "Read Spreadsheet"
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst allItems = $input.all().map(i => i.json);\nconst results = [];\nconst errors = [];\n\nfor (const item of allItems) {\n  const cardName = item.CardName;\n  const rows = item.Rows;\n  const cardsDir = item.CardsDir;\n\n  // Form filename: replace spaces (and any forward/backslashes) with underscores\n  const filename = cardName.replace(/[ \\/\\\\]+/g, '_') + '.json';\n  const jsonPath = path.resolve(cardsDir, filename);\n  if (!jsonPath.startsWith(path.resolve(cardsDir))) throw new Error('Path traversal detected: ' + filename);\n\n  if (!fs.existsSync(jsonPath)) {\n    errors.push({\n      card: cardName,\n      file: filename,\n      error: 'File not found'\n    });\n    console.warn(`[Update Cards] File not found: ${jsonPath}`);\n    continue;\n  }\n\n  let cardData;\n  try {\n    cardData = JSON.parse(fs.readFileSync(jsonPath, 'utf8'));\n  } catch (e) {\n    errors.push({ card: cardName, file: filename, error: 'JSON parse error: ' + e.message });\n    console.warn(`[Update Cards] Parse error in ${filename}: ${e.message}`);\n    continue;\n  }\n\n  const cardMeta = cardData['data.Cards'];\n  if (!cardMeta || !Array.isArray(cardMeta.records)) {\n    errors.push({ card: cardName, file: filename, error: 'No data.Cards.records array in JSON' });\n    console.warn(`[Update Cards] No records in ${filename}`);\n    continue;\n  }\n\n  let updatedCount = 0;\n  const updateLog = [];\n\n  for (const row of rows) {\n    const charNameFull = (row['Character Name'] || '').trim();\n    const posPrompt    = (row['ComfyUI Positive Prompt'] || '').trim();\n    const negPrompt    = (row['ComfyUI Negative Prompt'] || '').trim();\n\n    // Extract orientation from between the last pair of parentheses: \"Odysseus (upright)\" → \"upright\"\n    const orientMatch = charNameFull.match(/\\(([^)]+)\\)\\s*$/);\n    if (!orientMatch) {\n      console.warn(`[Update Cards] Cannot parse orientation from: \"${charNameFull}\" (card: ${cardName})`);\n      updateLog.push({ orientation: '(unknown)', status: 'skipped - no parentheses' });\n      continue;\n    }\n    const orientation = orientMatch[1].trim();\n\n    // Extract character name without the orientation suffix\n    const charName = charNameFull.replace(/\\s*\\([^)]+\\)\\s*$/, '').trim();\n\n    // Find the matching record\n    const record = cardMeta.records.find(r => r.Orientation === orientation);\n    if (!record) {\n      console.warn(\n        `[Update Cards] No record with Orientation=\"${orientation}\" in ${filename}. ` +\n        `Available: ${cardMeta.records.map(r => r.Orientation).join(', ')}`\n      );\n      updateLog.push({ orientation, status: 'skipped - orientation not found in JSON' });\n      continue;\n    }\n\n    // Ensure Prompts section exists\n    if (!record.Prompts) record.Prompts = {};\n\n    // Write CharacterImage prompts into the record\n    record.Prompts.CharacterImage = {\n      CharacterName: charName,\n      Positive:      posPrompt,\n      Negative:      negPrompt\n    };\n\n    updatedCount++;\n    updateLog.push({ orientation, charName, status: 'updated' });\n  }\n\n  // Write updated JSON back\n  try {\n    fs.writeFileSync(jsonPath, JSON.stringify(cardData, null, 2), 'utf8');\n    results.push({\n      card: cardName,\n      file: filename,\n      updated: updatedCount,\n      log: updateLog\n    });\n    console.log(`[Update Cards] ${cardName}: ${updatedCount}/${rows.length} orientations updated`);\n  } catch (e) {\n    errors.push({ card: cardName, file: filename, error: 'Write error: ' + e.message });\n    console.warn(`[Update Cards] Write error for ${filename}: ${e.message}`);\n  }\n}\n\nif (results.length === 0 && errors.length > 0) {\n  throw new Error(\n    `[Update Cards] All ${errors.length} cards failed. First error: ` +\n    `${errors[0].card} — ${errors[0].error}`\n  );\n}\n\nif (errors.length > 0) {\n  console.warn(`[Update Cards] ${errors.length} cards had errors (${results.length} succeeded)`);\n}\n\nreturn [...results, ...errors].map(r => ({ json: r }));\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -600,
                0
            ],
            "id": "upd0001-0004-4000-8000-000000000004",
            "name": "Update Card JSONs"
        },
        {
            "parameters": {
                "jsCode": "const all = $input.all().map(i => i.json);\nconst succeeded = all.filter(j => !j.error);\nconst failed    = all.filter(j =>  j.error);\n\nconst totalUpdated = succeeded.reduce((s, j) => s + (j.updated || 0), 0);\n\nconsole.log(\n  `[Report] Done: ${succeeded.length} cards updated (${totalUpdated} records), ` +\n  `${failed.length} errors`\n);\n\nif (failed.length > 0) {\n  console.warn('[Report] Errors:');\n  for (const f of failed) {\n    console.warn(`  ${f.card}: ${f.error}`);\n  }\n}\n\nreturn [{\n  json: {\n    cardsSucceeded: succeeded.length,\n    recordsUpdated: totalUpdated,\n    cardsFailed:    failed.length,\n    failures: failed.map(f => ({ card: f.card, file: f.file, error: f.error }))\n  }\n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -360,
                0
            ],
            "id": "upd0001-0005-4000-8000-000000000005",
            "name": "Report Results"
        }
    ],
    "connections": {
        "When clicking 'Execute workflow'": {
            "main": [
                [
                    {
                        "node": "Set Global Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Global Parameters": {
            "main": [
                [
                    {
                        "node": "Read Spreadsheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Spreadsheet": {
            "main": [
                [
                    {
                        "node": "Update Card JSONs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Card JSONs": {
            "main": [
                [
                    {
                        "node": "Report Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-02-26T00:00:00.000Z",
    "versionId": "upd0001-ver1"
}